$autoselect-content-bg-color: #f8f8f8 !default;
$autoselect-content-border-color: #cee0f0 !default;
$autoselect-text-color: #2b3646 !default;
$autoselect-active-color: #0394f9 !default;
$autoselect-active-text-color: $white !default;
$autoselect-empty-text-color: $gray-600 !default;

.xui-autoselect-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 28px;

    .select-show {
        // @include select-input;
        text-align: left;
        width: 180px;
        padding: 0 5px;
        background-position: center right;
        background-repeat: no-repeat;
        color: $autoselect-text-color;
        @include text-overflow-ellipsis();
    }
}

.auto-select-content {
    position: absolute;
    display: none;
    top: 29px;
    width: 180px;
    height: 250px;
    z-index: 9999;
    background: $autoselect-content-bg-color;
    overflow: auto;
    border: 1px solid $autoselect-content-border-color;
    box-shadow: 0px 3px 7px 0px rgba(85, 176, 255, 0.3);
    box-sizing: border-box;

    ul {
        width: 100% !important;
        overflow: auto !important;
        height: 100% !important;
        // IE8滚动条箭头颜色，重设原来的浅色调避免弹框太小时完全无滚动条
        scrollbar-arrow-color: $black;

        li {
            width: 100% !important;
            min-height: 28px !important;
            line-height: 28px !important;
            border-bottom: 1px solid $autoselect-content-border-color;
            color: $autoselect-text-color;
            cursor: pointer;
            text-align: left !important;
            display: table;
            padding-left: 3px;
            margin: 0 !important;
            border-collapse: initial;
            box-sizing: border-box;

            &:hover {
                background: $autoselect-active-color;
                color: $autoselect-active-text-color;
            }

            input[type='checkbox'] {
                vertical-align: middle;
                margin-top: -2px;
                width: 15px;
                display: table-cell;
            }

            span {
                display: table-cell;
                width: 100%;
                padding: 0 5px;
                word-break: break-all;
            }

            &.empty-data {
                color: $autoselect-empty-text-color;
                padding: 0 !important;

                span {
                    text-align: center;
                    padding: 0;
                    font-size: 12px;
                }

                &:hover {
                    background: $autoselect-content-bg-color;
                    color: $autoselect-empty-text-color;
                }
            }
        }

        li:last-child {
            border-bottom: none;
        }

        .active {
            color: $autoselect-active-color;
        }
    }
}