.xue-autoselect-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 28px;

    .select-show {
        @include select-input;
        text-align: left;
        height: 28px;
        line-height: 28px;
        display: inline-block;
        vertical-align: middle;
        width: 180px;
        padding: 0 5px;
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 18px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background-color: #fff;
        box-sizing: border-box;
    }
}

.auto-select-content {
    position: absolute;
    display: none;
    top: 29px;
    width: 180px;
    height: 250px;
    z-index: 9999;
    background: #f8f8f8;
    overflow: auto;
    border: solid 1px #cee0f0;
    box-shadow: 0px 3px 7px 0px rgba(85, 176, 255, 0.3);
    box-sizing: border-box;

    ul {
        width: 100% !important;
        overflow: auto !important;
        height: 100% !important;
        // IE8滚动条箭头颜色，重设原来的浅色调避免弹框太小时完全无滚动条
        scrollbar-arrow-color: #000000;

        li {
            width: 100% !important;
            min-height: 28px !important;
            line-height: 28px !important;
            border-bottom: solid 1px #cee0f0;
            color: #2b3646;
            cursor: pointer;
            text-align: left !important;
            display: table;
            padding-left: 3px;
            margin: 0 !important;
            border-collapse: initial;
            box-sizing: border-box;

            &:hover {
                background: #0394f9;
                color: #fff;
            }

            input[type='checkbox'] {
                vertical-align: middle;
                margin-top: -2px;
                width: 15px;
                display: table-cell;
            }

            span {
                display: table-cell;
                width: 100%;
                padding: 0 5px;
                word-break: break-all;
            }

            &.empty-data {
                color: #999;
                padding: 0 !important;

                span {
                    text-align: center;
                    padding: 0;
                    font-size: 12px;
                }

                &:hover {
                    background: #f8f8f8;
                    color: #999999;
                }
            }
        }

        li:last-child {
            border-bottom: none;
        }

        .active {
            color: #0394f9;
        }
    }
}