$badge-height:20px;

.xue-badge-wrap {
    position: relative;
    display: inline-block;

    .xui-badge-container {
        position: absolute;
        top: 0;
        right: 0;
        color: $color-white;
        background: $color-danger;
        padding: 0 5px;
        height: 20px;
        line-height: 18px;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box;
        transform: translateY(-50%) translateX(50%);
        font-size: 12px;
        vertical-align: middle;
        min-width: 18px;
        display: inline-block;

        &.dot {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            padding: 0;
            min-width: 8px;
        }

        &.alone {
            position: static;
            transform: inherit;
        }

        &>span {
            display: inline-block;
            height: 100%;
            line-height: 100%;
        }
    }
}