// (name, color)
$btn-colors: (
    (primary,$color-primary),
    (info,$color-info),
    (success,$color-success),
    (warning,$color-warning),
    (danger,$color-danger)
);
// (name, padding-y, padding-x, font-size, border-radius)
$btn-size: (
    (lg,12,20,14,4),
    (sm,9,15,12,3),
    (mini,7,15,12,3),
);
.xui-btn{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background-color: $color-white;
    border: 1px solid $border-color-base;
    color: $color-text-regular;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    &:active,&:hover,&:focus{
        outline: none;
    }
    &:hover{
        background-color: $color-primary-lighter;
        border-color: $primary-200;
        color: $color-primary;
    }
    &:active{
        background-color: $color-primary-lighter;
        border-color: $primary-600;
        color: shade-color($color-primary, 2);
    }
    &.is-plain{
        &:hover{
            background-color: $color-white;
        }
        &:active{
            background-color: $color-white;
        }
        &.is-disabled{
            &.hover{
                background-color: $color-white;
            }
        }
    }
    &.is-round{
        border-radius: 20px;
        &.is-disabled{
            &.hover{
                background-color: $color-white;
            }
        }
    }
    &.is-disabled{
        cursor: not-allowed;
        color: tint-color($color-text-regular, 7);
        border-color: tint-color($border-color-base, 2);
        background-color: $color-white;
    }
}
.xui-btn-group{
    display: inline-block;
    vertical-align: middle;
    &::before,&::before{
        display: table;
        content: "";
    }
    &::after{
        clear: both;
    }
    .xui-btn{
        float: left;
        position: relative;
        &:first-child{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-color: hsla(0,0%,100%,.5);
        }
        &:last-child{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-color: hsla(0,0%,100%,.5);
        }
        &:not(:last-child){
            margin-right: -1px;
        }
        &:not(:first-child):not(:last-child){
            border-radius: 0;
            border-left-color: hsla(0,0%,100%,.5);
            border-right-color: hsla(0,0%,100%,.5);
        }
    }
}
@each $name, $color in $btn-colors {
    .xui-btn-#{$name}{
        color: $color-white;
        background-color: $color;
        border-color: $color;
        &:hover{
            background-color: tint-color($color, 2);
            border-color: tint-color($color, 2);
            color: $color-white;
        }
        &:active{
            background-color: shade-color($color, 2);
            border-color: shade-color($color, 2);
            color: $color-white;
        }
        &.is-plain{
            color: $color;
            background-color: tint-color($color,11);
            border-color: tint-color($color,8);
            &:hover{
                background-color: $color;
                border-color: $color;
                color: $color-white;
            }
            &:active{
                background-color: shade-color($color, 2);
                border-color: shade-color($color, 2);
                color: $color-white;
            }
            &.is-disabled{
                cursor: not-allowed;
                color: tint-color($color, 7);
                background-color: tint-color($color, 12);
                border-color: tint-color($color, 10);
                &:hover{
                    color: tint-color($color, 7);
                }
            }
        }
        &.is-round{
            border-radius: 20px;
        }
        &.is-disabled{
            cursor: not-allowed;
            color: $color-white;
            background-color: tint-color($color, 7);
            border-color: tint-color($color, 7);
        }
    }
}
@each $name,$padding-y,$padding-x,$font-size,$border-radius in $btn-size {
    .xui-btn.xui-btn-#{$name}{
        padding: #{$padding-y}px #{$padding-x}px;
        font-size: #{$font-size}px;
        border-radius: #{$border-radius}px;
        &.is-round{
            border-radius: #{$padding-x}px;
        }
    }
}