.xui-btn{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background-color: $color-white;
    border: 1px solid $border-color-base;
    color: $color-text-regular;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    &:active,&:hover,&:focus{
        outline: none;
    }
}
$btn-colors: 
    ((primary,$color-primary),
    (info,$color-info),
    (success,$color-success),
    (warning,$color-warning),
    (danger,$color-danger));
.xui-btn-default{
    &:hover{
        background-color: $color-primary-lighter;
        border-color: $primary-200;
        color: $color-primary;
    }
    &:active{
        background-color: $color-primary-lighter;
        border-color: $primary-600;
        color: shade-color($color-primary, 2);
    }
    &.is-plain{
        &:hover{
            background-color: $color-white;
        }
        &:active{
            background-color: $color-white;
        }
        &.is-disabled{
            &.hover{
                background-color: $color-white;
            }
        }
    }
    &.is-round{
        border-radius: 20px;
        padding: 12px 23px;
        &.is-disabled{
            &.hover{
                background-color: $color-white;
            }
        }
    }
    &.is-disabled{
        cursor: not-allowed;
        color: tint-color($color-text-regular, 7);
        border-color: tint-color($border-color-base, 2);
        background-color: $color-white;
    }
}
@each $name, $color in $btn-colors {
    .xui-btn-#{$name}{
        color: $color-white;
        background-color: $color;
        border-color: $color;
        &:hover{
            background-color: tint-color($color, 2);
            border-color: tint-color($color, 2);
            color: $color-white;
        }
        &:active{
            background-color: shade-color($color, 2);
            border-color: shade-color($color, 2);
            color: $color-white;
        }
        &.is-plain{
            color: $color;
            background-color: tint-color($color,11);
            border-color: tint-color($color,8);
            &:hover{
                background-color: $color;
                border-color: $color;
                color: $color-white;
            }
            &:active{
                background-color: shade-color($color, 2);
                border-color: shade-color($color, 2);
                color: $color-white;
            }
            &.is-disabled{
                cursor: not-allowed;
                color: tint-color($color, 7);
                background-color: tint-color($color, 12);
                border-color: tint-color($color, 10);
                &:hover{
                    color: tint-color($color, 7);
                }
            }
        }
        &.is-round{
            border-radius: 20px;
            padding: 12px 23px;
        }
        &.is-disabled{
            cursor: not-allowed;
            background-color: tint-color($color, 7);
            border-color: tint-color($color, 7);
        }
    }
}