// Input buttons

$input-btn-padding-y: .375rem !default;
$input-btn-padding-x: .75rem !default;
$input-btn-font-family: null !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-focus-width: .2rem !default;
$input-btn-focus-color: rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default;
$input-btn-font-size-sm: $font-size-sm !default;

$input-btn-padding-y-lg: .5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-font-size-lg: $font-size-lg !default;

$input-btn-border-width: $border-width !default;
$input-btn-border-color: $border-color !default;
$input-btn-hover-border-color: #cee0f0 !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: $input-btn-padding-x !default;
$btn-font-family: $input-btn-font-family !default;
$btn-font-size: $input-btn-font-size !default;
$btn-line-height: $input-btn-line-height !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: $input-btn-padding-x-sm !default;
$btn-font-size-sm: $input-btn-font-size-sm !default;

$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: $input-btn-padding-x-lg !default;
$btn-font-size-lg: $input-btn-font-size-lg !default;

$btn-border-width: $input-btn-border-width !default;
$btn-border-color: $input-btn-border-color !default;
$btn-hover-border-color: $input-btn-hover-border-color !default;

$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075) !default;
$btn-focus-width: $input-btn-focus-width !default;
$btn-focus-box-shadow: $input-btn-focus-box-shadow !default;
$btn-disabled-opacity: .65 !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;

$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-link-disabled-color: $gray-600 !default;

$btn-color: $gray-900;
$btn-bg-color: $white !default;
$btn-hover-bg-color: #eff6ff !default;

$btn-block-spacing-y: .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;
$btn-circle-border-radius: 20px !default;
$btn-circle-icon-only-width: 32px !default;

$btn-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out,
box-shadow .15s ease-in-out !default;

$btn-group-merge-border-color: $btn-border-color;

@mixin btn-gradient($start-color, $end-color, $start-hover-color, $end-hover-color) {
    color: #fff;
    border: none;
    background-image: linear-gradient(0deg, $start-color 0%, $end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$end-color, endColorstr=$start-color, GradientType=0);

    &:hover {
        background-image: linear-gradient(0deg, $start-hover-color 0%, $end-hover-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$end-hover-color, endColorstr=$start-hover-color, GradientType=0);
    }

    &:active {
        background-image: linear-gradient(0deg, $end-color 0%, $start-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color, GradientType=0);
    }
}

@mixin btn-theme($border-color, $bg-color, $hover-bg-color, $color, $hover-color, $active-color) {
    border-color: $border-color;
    color: $color;
    background: $bg-color;

    &:hover {
        color: $hover-color;
        border-color: $hover-bg-color;
        background: $hover-bg-color;
    }

    &:active {
        border-color: $border-color;
        color: $color;
        background: $bg-color;
    }

    &[disabled] {
        border-color: $border-color;
        background: $bg-color;
        color: $color;

        &:hover {
            border-color: $border-color;
            background: $bg-color;
            color: $color;
        }
    }
}

@mixin xui-btn($border-radius, $padding-y, $padding-x, $font-size) {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: $border-radius;
    padding: $padding-y $padding-x;
    border: $btn-border-width solid $btn-border-color;
    background: $btn-bg-color;
    font-size: $font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $btn-color;
    -webkit-transition: $btn-transition;
    transition: $btn-transition;

    &:hover {
        box-shadow: $btn-box-shadow;
        background-color: $btn-hover-bg-color;
        color: $btn-link-hover-color;
        border-color: $btn-hover-border-color;
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
        color: $btn-link-disabled-color;

        &:hover {
            background-color: $btn-bg-color;
            box-shadow: none;
        }
    }

    &:active {
        background: $btn-bg-color;
    }

    &.xui-btn-dark-blue {
        @include btn-gradient(#1c3f6e, #235ead, #255290, #3677cc);
    }

    &.xui-btn-sky-blue {
        @include btn-gradient(#0083de, #43b2ff, #0071bf, #43b2ff);
    }

    &.xui-btn-green {
        @include btn-gradient(#267d47, #26c030, #349e48, #54c95c);
    }

    &.xui-btn-gray {
        @include btn-gradient(#66768d, #9ea9b8, #7f90a8, #b3becc);
    }

    &.xui-btn-red {
        @include btn-gradient(#9c2107, #f95129, #a33a25, #f76844);
    }

    &.xui-btn-tab-blue {
        @include btn-theme(#80cbff, #fff, #dff2ff, #0394f9, #0394F9, #fff);
    }

    &.xui-btn-warning {
        @include btn-theme($border-color:$yellow-deep, $bg-color:$yellow-deep,
            $hover-bg-color:$yellow, $color:#fff, $hover-color:#fff, $active-color:#fff);
    }

    &.xui-btn-success {
        @include btn-theme($border-color:$green-deep, $bg-color:$green-deep,
            $hover-bg-color:$green, $color:#fff, $hover-color:#fff, $active-color:#fff);
    }

    &.xui-btn-danger {
        @include btn-theme($border-color:$red-deep, $bg-color:$red-deep,
            $hover-bg-color:$red, $color:#fff, $hover-color:#fff, $active-color:#fff);
    }

    &.xui-btn-info {
        @include btn-theme($border-color:$gray-800, $bg-color:$gray-800,
            $hover-bg-color:$gray-600, $color:#fff, $hover-color:#fff, $active-color:#fff);
    }

    &.xui-btn-primary {
        @include btn-theme($border-color:$blue-deep, $bg-color:$blue-deep,
            $hover-bg-color:$blue, $color:#fff, $hover-color:#fff, $active-color:#fff);
    }

    &.xui-btn-circle {
        border-radius: $btn-circle-border-radius;

        &.icon-only {
            border-radius: 50%;
            width: $btn-circle-icon-only-width;
            height: $btn-circle-icon-only-width;
            padding: 0;
        }
    }
}

.xui-btn-group {
    display: inline-flex;

    &>.xui-btn:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &>.xui-btn:not(:first-child) {
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    &>.xui-btn-primary:not(:last-child),
    &>.xui-btn-danger:not(:last-child),
    &>.xui-btn-warning:not(:last-child),
    &>.xui-btn-success:not(:last-child) {
        border-right-color: $btn-group-merge-border-color;

        &:hover,
        &:active {
            border-right-color: $btn-group-merge-border-color;
        }
    }

    &.group-vertical {
        flex-direction: column;
        &>.xui-btn{
            border-radius: $btn-border-radius;
            border: $btn-border-width solid $btn-border-color;
        }

        &>.xui-btn:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &>.xui-btn:not(:first-child) {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &>.xui-btn-primary:not(:last-child),
        &>.xui-btn-danger:not(:last-child),
        &>.xui-btn-warning:not(:last-child),
        &>.xui-btn-success:not(:last-child) {
            border-bottom-color: $btn-group-merge-border-color;
    
            &:hover,
            &:active {
                border-bottom-color: $btn-group-merge-border-color;
            }
        }
    }
}

.xui-btn {
    @include xui-btn($btn-border-radius, $btn-padding-y, $btn-padding-x, $btn-font-size);
}

.xui-btn-sm {
    @include xui-btn($btn-border-radius-sm, $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm);
}

.xui-btn-lg {
    @include xui-btn($btn-border-radius-lg, $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg);
}