.xui-cascader-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .cascader-input-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        .cascader-input {
            position: relative;
            width: 200px;
            height: 30px;
            padding: 3px 30px 3px 7px;
            padding-right: 30px;
            font-size: 14px;
            border: 1px solid $border-color-base;
            border-radius: 4px;
            color: $color-text-regular;
            background-color: #fff;
            cursor: pointer;
            transition: border .2s ease-in-out;
            outline: none;
            box-sizing: border-box;
            &:focus{
                border-color: $color-primary;
                outline: none;
            }
            &:active{
                border-color: $color-primary;
            }
            &:hover {
                .close-icon {
                    display: block;
                }
            }
        }
       
        .close-icon {
            display: none;
        }
    }
    .cascader-select-wrapper {
        position: absolute;
        width: auto;
        margin: 5px 0;
        padding: 0;
        overflow: visible;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0,0,0,.2);
        white-space: nowrap;
        z-index: 900;
        .select-list {
            display: inline-block;
            width: 100px;
            height: 180px;
            margin: 0;
            padding: 5px 0;
            vertical-align: top;
            border-right:1px solid $border-color-light;
            overflow: auto;
            .select-item {
                position: relative;
                margin: 0;
                padding: 7px 20px 7px 10px;
                line-height: 1.5;
                color:  $color-text-regular;;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
                transition: all .2s ease-in-out;
                &:hover {
                    background: $background-color-base;
                }
                &.active {
                    background-color:  $background-color-base;
                    color: $color-primary;
                }
            }
        }
    }
    .cascader-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        line-height: 1;
        margin-top: -7px;
        font-size: 14px;
        color: $color-text-regular;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &.expanded {
            transform: rotate(180deg); 
        }
    }
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-button{
        width: 0;
    }
}