.xui-checkbox-group {
    display: inline-block;
    line-height: 1;
}
.xui-checkbox-item-wrap {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-right: 10px;

    input.checkbox-input {
        opacity: 0;
        outline: 0;
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        left: 0;
        cursor: pointer;
    }

    .checkbox-item {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border: 1px solid $border-color-base;
        border-radius: 4px;
        cursor: pointer;
        background: #fff;
        box-sizing: border-box;
        position: relative;

        &:hover {
            border: $border-width solid $color-primary;
        }

        &.active {
            background: tint-color($color-primary, 11);
            border: $border-width solid $color-primary;

            i {
                color: $color-primary;
            }

            &.disabled i {
                color: $border-color-base;
            }
        }

        &.disabled {
            color: $color-text-placeholder;
            cursor: not-allowed;
            background: $background-color-base;
            border-color: $border-color-base;

            i {
                color: $background-color-base;
            }
        }

        i {
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            color: #fff;
            vertical-align: baseline;
        }
    }

    .checkbox-name {
        cursor: pointer;
        padding-left: 5px;
        vertical-align: middle;

        &.disabled {
            color: $color-text-placeholder;
            cursor: not-allowed;
        }
    }
}

/** xue-checkbox **/
.xui-checkbox-wrap {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: $border-radius;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid $border-color-base;
    cursor: pointer;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;

    &:hover {
        border: $border-width solid $color-primary;
    }

    &.gx-checked {
        background: tint-color($color-primary, 11);
        border: $border-width solid $color-primary;

        i {
            color: $color-primary;
        }
    }

    i {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        vertical-align: baseline;
    }
}

/** gx-multi-checkbox **/
.xui-multi-checkbox-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;

    .multi-checkbox {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 1px solid $border-color-base;
        border-radius: 2px;
        background-color: #fff;
        transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;

        &.multi-checkbox-checked {
            border-color: $color-primary;
            background-color: $color-primary;

            &:after {
                width: 4px;
                height: 8px;
                top: 2px;
                left: 5px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(1);
            }
        }

        &.multi-checkbox-indeterminate {
            border-color: $color-primary;
            background-color: $color-primary;

            &:after {
                width: 10px;
                height: 1px;
                left: 2px;
                top: 6px;
                border: 1px solid #fff;
            }
        }

        &:after {
            content: "";
            position: absolute;
        }
    }

    .multi-checkbox-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }
}