$counter-border-color: #cee0f0 !default;
$counter-text-bg-color: #f5f7fa !default;
$counter-text-color: #999 !default;
$counter-text-hover-color: #0394F9 !default;
$counter-disabled-bg-color: #c0c4cc !default;
$counter-disabled-color: #c0c4cc !default;

$counter-font-size: $font-size-base !default;
$counter-font-size-sm: $font-size-sm !default;
$counter-font-size-lg: $font-size-lg !default;

$counter-input-padding-y: .25rem !default;
$counter-input-padding-x: .85rem !default;
$counter-input-padding-y-sm: .2rem !default;
$counter-input-padding-x-sm: .5rem !default;
$counter-input-padding-y-lg: .75rem !default;
$counter-input-padding-x-lg: 1.5rem !default;

@mixin counter-size($padding-y, $padding-x, $font-size) {
    font-size: $font-size;

    .text,
    .input,
    .add,
    .reduce {
        padding: $padding-y $padding-x;
    }

    .input span {
        padding: $padding-y $padding-x;
    }
}

.xui-counter-wrap {
    display: inline-block;
    border: 1px solid $counter-border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    font-size: $font-size-base;

    &.disabled {
        background-color: $counter-disabled-bg-color;
        color: $counter-disabled-color;
        cursor: not-allowed;

        input:disabled {
            background-color: $counter-disabled-bg-color;
        }
    }

    &>span {
        text-align: center;
        padding: $counter-input-padding-y $counter-input-padding-x;
        float: left;
    }

    .text,
    .input {
        padding: $counter-input-padding-y $counter-input-padding-x;
        box-sizing: border-box;
        border-left: 1px solid $counter-border-color;
        border-right: 1px solid $counter-border-color;
    }

    .input {
        position: relative;

        input {
            width: 100%;
            text-align: center;
            border: none;
        }

        &.hasSuffix input {
            box-sizing: border-box;
        }

        span {
            position: absolute;
            top: 0;
            right: 5px;
            padding: $counter-input-padding-y $counter-input-padding-x;
        }
    }

    .add,
    .reduce {
        color: $counter-text-color;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        background-color: $counter-text-bg-color;
        padding: $counter-input-padding-y $counter-input-padding-x;

        &:hover {
            color: $counter-text-hover-color;
        }

        &.disabled {
            cursor: not-allowed;
            color: $counter-disabled-color;

            &:hover {
                color: $counter-disabled-color;
            }
        }
    }

    .add {
        border-radius: 0 $border-radius $border-radius 0;
    }

    .reduce {
        border-radius: $border-radius 0 0 $border-radius;
    }

    &.large {
        @include counter-size($counter-input-padding-y-lg, $counter-input-padding-x-lg, $font-size-lg)
    }

    &.small {
        @include counter-size($counter-input-padding-y-sm, $counter-input-padding-x-sm, $font-size-sm);
    }
}