// $border-color:#cee0f0 !default;

.xui-radio-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #cee0f0;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;

    &.gx-checked {
        background: #0394F9;
        border: 5px solid #dff2ff;
        box-shadow: 0 0 0px 1px #80cbff;
    }
}

/** xue-checkbox **/
.xui-checkbox-wrap {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: $border-radius;
    box-sizing: border-box;
    background: $white;
    border: 1px solid #cee0f0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;

    &:hover {
        border: $border-width solid $blue;
    }

    &.gx-checked {
        background: #dff2ff;
        border: $border-width solid $blue;

        i {
            color: $blue;
        }
    }

    i {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: $white;
        vertical-align: baseline;
    }
}

/** gx-multi-checkbox **/
.xui-multi-checkbox-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;

    .multi-checkbox {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 1px solid #dcdee2;
        border-radius: 2px;
        background-color: #fff;
        transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;

        &.multi-checkbox-checked {
            border-color: #2d8cf0;
            background-color: #2d8cf0;

            &:after {
                width: 4px;
                height: 8px;
                top: 2px;
                left: 5px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(1);
            }
        }

        &.multi-checkbox-indeterminate {
            border-color: #2d8cf0;
            background-color: #2d8cf0;

            &:after {
                width: 10px;
                height: 1px;
                left: 2px;
                top: 6px;
                border: 1px solid #fff;
            }
        }

        &:after {
            content: "";
            position: absolute;
        }
    }

    .multi-checkbox-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }
}

.no-perssion-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: #fff;

    &>span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 700;
        color: #FA9823;
        &>.xui-icon{
            font-size:60px;
            display:block;
        }
    }
}

.xui-radio-group-wrap {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    margin-right: 10px;

    input.checkbox-input {
        opacity: 0;
        outline: none;
        position: absolute;
        margin: 0;
        width: 0;
        height: 0;
        z-index: -1;
    }

    .radio-item {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border: 1px solid #cee0f0;
        border-radius: 10px;
        cursor: pointer;
        background: #fff;
        margin-bottom: 0;
        margin-right: 0 !important;
        box-sizing: border-box;

        &.active {
            width: 20px;
            height: 20px;
            // margin: 1px 5px 5px 1px;
            background: #0394F9;
            border: 5px solid #dff2ff;
            border-radius: 10px;
            box-shadow: 0 0 0 1px #80cbff;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
            filter: alpha(opacity=50);
        }
    }

    .radio-name {
        cursor: pointer;
        padding-left: 5px;
        vertical-align: middle;

        &.disabled {
            color: #999;
            cursor: not-allowed;
        }
    }
}
.common-title-tip {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    z-index: 10000;
    display: none;
}