// $border-color:#cee0f0 !default;
/** gx-multi-checkbox **/
.xui-multi-checkbox-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;

    .multi-checkbox {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 1px solid $border-color-base;
        border-radius: 2px;
        background-color: #fff;
        transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;

        &.multi-checkbox-checked {
            border-color: $color-primary;
            background-color: $color-primary;

            &:after {
                width: 4px;
                height: 8px;
                top: 2px;
                left: 5px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(1);
            }
        }

        &.multi-checkbox-indeterminate {
            border-color: $color-primary;
            background-color: $color-primary;

            &:after {
                width: 10px;
                height: 1px;
                left: 2px;
                top: 6px;
                border: 1px solid #fff;
            }
        }

        &:after {
            content: "";
            position: absolute;
        }
    }

    .multi-checkbox-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }
}

.no-perssion-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: #fff;

    &>span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: 700;
        color: $color-warning;
        &>.xui-icon{
            font-size:60px;
            display:block;
        }
    }
}

.common-title-tip {
    position: absolute;
    background-color: #fff;
    color: $color-text-primary;
    padding: 5px 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    z-index: 10000;
    display: none;
}
