$menu-primary: $color-primary;
$menu-bg:shade-color($menu-primary, 8); //#05172f !default;
$menu-color: #fff !default;
$menu-hover-bg: shade-color($menu-primary, 6); //#1e4673 !default;
$menu-active-color: tint-color($menu-primary, 10); //#a4cded !default;
$menu-active-border-color: $menu-primary; //#177fd1 !default;
$menu-item-active-color: $menu-primary; //#0394F9 !default;

$menu-search-color: tint-color($menu-primary, 10); //#9bc6e8 !default;
$menu-search-list-bg: shade-color($menu-primary, 4); //#336dae !default;
// $menu-search-border-color: shade-color($menu-primary, 4); //#2c4465 !default;

.xui-menu-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: $menu-bg;
    color: $menu-color;

    &.support-search {
        padding-top: 34px;
    }

    .menu-search {
        height: 34px;
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 1px solid $menu-search-list-bg;

        .menu-search-icon {
            position: absolute;
            font-size: 22px;
            top: 12px;
            left: 5%;
            padding-left: 5px;
            color: $menu-search-color;
        }

        .menu-ipt {
            height: 30px;
            width: 90%;
            border-radius: 15px;
            margin-top: 7px;
            margin-left: 5%;
            background-color: $menu-hover-bg;
            border: 1px solid $menu-hover-bg;
            color: $menu-search-color;
            padding-left: 30px;
            box-sizing: border-box;
            outline: 0;
        }

        .menu-list {
            position: absolute;
            top: 38px;
            width: 90%;
            left: 5%;
            z-index: 9999;
            background: $menu-search-list-bg;
            color: $menu-color;
            border-radius: 5px;

            ul {
                list-style: none;

                li {
                    height: 28px;
                    line-height: 28px;
                    text-align: left;
                    cursor: pointer;
                    padding: 0 10px;
                    color: $menu-active-color;

                    &:hover {
                        color: $menu-color;
                    }
                }
            }
        }
    }

    .menu-item-wrap {
        width: 100%;
        height: 100%;
        overflow: auto;

        .menu-item {
            width: 100%;

            .item-title {
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                width: 100%;
                padding-left: 35px;
                padding-right: 40px;
                position: relative;
                box-sizing: border-box;
                border-left: solid 5px $menu-bg;
                background: $menu-bg;
                transition: 0.3s ease-out;
                color: $menu-color;

                &:hover {
                    background: $menu-hover-bg;
                    border-left: solid 5px $menu-hover-bg;
                }

                &.active {
                    background: $menu-hover-bg;
                    border-left: solid 5px $menu-active-border-color;
                    color: $menu-active-color;
                }

                .title-icon {
                    width: 35px;
                    position: absolute;
                    left: 0;
                    height: 100%;
                    text-align: center;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                .title-content {
                    @include text-overflow-ellipsis;
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    cursor: pointer;
                }

                .title-arrow {
                    width: 40px;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    top: 0;
                    text-align: center;

                    i {
                        font-size: 24px;
                    }
                }
            }

            .item-content {
                transition: 0.4s ease-out;

                &.ng-hide {
                    display: block !important;

                    li {
                        height: 0px;
                    }
                }

                ul {
                    list-style-type: none;

                    li {
                        height: 40px;
                        line-height: 40px;
                        font-size: 15px;
                        padding-left: 39px;
                        @include text-overflow-ellipsis;
                        cursor: pointer;
                        border-left: solid 5px $menu-bg;
                        color: $menu-color;
                        transition: 0.3s ease-out;

                        &.active {
                            background: $menu-hover-bg;
                            border-left: solid 5px $menu-item-active-color;
                            color: $menu-active-color;

                            &:hover {
                                border-left: solid 5px $menu-item-active-color;
                            }
                        }

                        &:hover {
                            background: $menu-hover-bg;
                            border-left: solid 5px $menu-hover-bg;
                            color: $menu-color;
                        }

                        img {
                            width: 14px;
                            height: 14px;
                            vertical-align: middle;
                            margin-left: -10px;
                        }

                        span {
                            margin-left: 5px;
                            vertical-align: middle;

                            &:before {
                                display: inline-block;
                                content: "";
                                width: 5px;
                                height: 5px;
                                background: $menu-color;
                                border-radius: 3px;
                                margin-left: -8px;
                                margin-right: 10px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

.xui-menu-wrap2 {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    background: $menu-bg;
    color: $menu-color;

    &.support-search {
        padding-top: 40px;
    }

    .menu-search {
        height: 34px;
        width: 100%;
        position: absolute;
        top: 0;
        // border-bottom: 1px solid $menu-search-list-bg;

        .menu-search-icon {
            position: absolute;
            font-size: 22px;
            top: 12px;
            left: 5%;
            padding-left: 5px;
            color: $menu-search-color;
        }

        .menu-ipt {
            height: 30px;
            width: 90%;
            border-radius: 15px;
            margin-top: 7px;
            margin-left: 5%;
            border: 1px solid $menu-hover-bg;
            background-color: $menu-hover-bg;
            color: $menu-search-color;
            padding-left: 30px;
            box-sizing: border-box;
            outline: 0;
        }

        .menu-list {
            position: absolute;
            top: 38px;
            width: 90%;
            left: 5%;
            z-index: 9999;
            background: $menu-search-list-bg;
            color: $menu-color;
            border-radius: 5px;

            ul {
                list-style: none;

                li {
                    height: 28px;
                    line-height: 28px;
                    text-align: left;
                    cursor: pointer;
                    padding: 0 10px;
                    color: $menu-active-color;

                    &:hover {
                        color: $menu-color;
                    }
                }
            }
        }
    }

    .menu-item-wrap {
        list-style-type: none;

        .menu-item {
            transition: 0.4s ease-out;

            .menu-title {
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                width: 100%;
                padding-left: 35px;
                padding-right: 40px;
                position: relative;
                box-sizing: border-box;
                border-left: solid 5px $menu-bg;
                background: $menu-bg;
                color: $menu-color;
                @include text-overflow-ellipsis;

                &:hover {
                    background: $menu-hover-bg;
                    border-left: solid 5px $menu-hover-bg;

                    .icon-dot {
                        background-color: $menu-color;
                    }
                }

                &.active {
                    color: $menu-active-color;
                    background: $menu-hover-bg;
                    border-left: solid 5px $menu-active-border-color;

                    .icon-dot {
                        background-color: $menu-active-color;
                    }
                }

                .title-arrow-right {
                    width: 40px;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    top: 0;
                    text-align: center;

                    i {
                        font-size: 24px;
                    }
                }

                .title-icon {
                    width: 35px;
                    position: absolute;
                    left: 0;
                    height: 100%;
                    text-align: center;

                    .xui-icon {
                        font-size: 20px;
                    }
                }
            }

            .menu-sub-item {
                transition: 0.4s ease-out;

                &.ng-hide-add.ng-hide-add-active,
                &.ng-hide-remove {
                    opacity: 0;

                    li {
                        height: 0;
                    }
                }

                &.ng-hide-add,
                &.ng-hide-remove.ng-hide-remove-active {
                    opacity: 1;

                    li {
                        height: 40px;
                    }

                }

                .menu-title {
                    height: 40px;
                    line-height: 40px;
                    @include text-overflow-ellipsis;
                }

                .icon-dot {
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color: $menu-color;
                    border-radius: 50%;
                    vertical-align: middle;
                }
            }
        }
    }

    &.xui-menu-horizontal {
        border-right: none;
        // background-color: $color-white;

        .menu-item {
            float: left;
            margin: 0;
            cursor: pointer;
            position: relative;

            .menu-title {
                border: none;
                cursor: pointer;
                padding: 0 20px;

                &:hover {
                    border: none;
                }

                &.active {
                    border: none;
                    background-color: $menu-bg;
                    border-bottom: 2px solid $menu-primary;
                }

                &.horizontal-active {
                    border: none;
                    color: $menu-item-active-color;
                    border-bottom: 2px solid $menu-primary;
                }

                .title-arrow-right {
                    width: 20px;
                    display: inline-block;
                    position: static;
                    text-align: center;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }

        .xui-menu-popup {
            position: absolute;
            z-index: 999;

            .menu-popup-ul {
                border-radius: 3px;
                margin-top: 5px;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                min-width: 150px;
                border: 1px solid $menu-bg;
            }

            &.ng-hide-add.ng-hide-add-active,
            &.ng-hide-remove {
                opacity: 0;

                li {
                    height: 0;
                }
            }

            &.ng-hide-add,
            &.ng-hide-remove.ng-hide-remove-active {
                opacity: 1;

                li {
                    height: 40px;
                }
            }

            .xui-menu-popup {
                position: absolute;
                left: 100%;
                top: -5px;
                z-index: 50;
                width: 100%;

                ul {
                    margin-left: 5px;
                }
            }

            .menu-item {
                float: none;
                height: 40px;
                line-height: 40px;
                position: relative;

                .menu-title {
                    height: 40px;
                    line-height: 40px;

                    &.active {
                        color: $menu-item-active-color;
                        border: none;
                    }

                    &.horizontal-active {
                        color: $menu-item-active-color;
                        border: none;
                    }

                    .title-arrow-right {
                        width: 40px;
                        position: absolute;
                        right: 0;
                        height: 100%;
                        top: 0;
                        text-align: center;

                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

    }

    &.xui-menu-horizontal.white {
        background-color: $color-white;

        .menu-title {
            background: $color-white;
            color: $color-text-primary;
            &:hover {
                background:  tint-color($menu-primary, 11);
            }

            &.active {
                color: $menu-item-active-color;
                background: $color-white;
                border-bottom: 2px solid $menu-item-active-color;
            }

            &.horizontal-active {
                color: $menu-item-active-color;
                border-bottom: 2px solid $menu-item-active-color;
            }
        }
        .xui-menu-popup {
            .menu-popup-ul {
                border: 1px solid #fff;
            }
        }
    }
}