$notice-count-bg-color: $color-danger !default;
$notice-border-color: $border-color-base !default;
$notice-active-color:  $color-primary !default;
$notice-active-bg-color: $color-primary-lighter !default;
$notice-bg-color: $background-color-base !default;

$notice-list-color: $color-text-primary !default;
$notice-tip-color: $color-text-secondary !default;
$notice-footer-color: $color-text-regular !default;

// @mixin notice-count-style($top, $right, $height) {
//     position: absolute;
//     display: block;
//     font-weight: 400;
//     background: $notice-count-bg-color;
//     color: #fff;
//     padding: 1px 2px;
//     font-size: 12px;
//     top: $top;
//     right: $right;
//     height: $height;
//     line-height: $height;
//     min-width: $height;
//     border-radius: $height/2;

//     &.circle {
//         width: 8px;
//         height: 8px;
//         padding: 0;
//         min-width: 8px;
//         right: -5px;
//         top: -5px;
//     }
// }

.xui-notice-container {
    display: inline-block;
    vertical-align: middle;

    .xui-notice-icon {
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;

        .notice-icon {
            font-size: 20px;
        }

        // .notice-count {
        //     @include notice-count-style(-10px, -10px, 18px);
        // }
    }
}

.xui-notice-content-wrap {
    display: none;
    position: absolute;
    z-index: 9999;
    background: #fff;
    border: solid 1px $notice-border-color;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 13px;

    .xui-notice-content {
        display: flex;
        flex-direction: column;
        width: 366px;
        overflow: hidden;

        .notice-tab {
            display: flex;
            text-align: center;
            border-bottom: solid 1px $notice-border-color;
            font-weight: 700;
            margin: 0;

            .tab-item {
                flex-grow: 1;
                cursor: pointer;
                padding: 5px 30px 0 30px;
                color: $notice-list-color;
                font-size: 15px;

                .xui-badge-container {
                    top: 10px;
                }

                .item-name {
                    line-height: 40px;
                    text-align: center;
                    position: relative;

                    // .item-count {
                    //     @include notice-count-style(-5px, -15px, 16px);
                    // }
                }

                &.active {
                    border-bottom: solid 2px $notice-active-color;
                    color: $notice-active-color;
                }
            }
        }

        .notice-content {
            flex-grow: 1;
            overflow: auto;
            background: $notice-bg-color;
            min-height: 100px;
            padding-bottom: 10px;
            max-height: 350px;
            margin: 0;

            .no-data-tip {
                color: $notice-tip-color;
                text-align: center;
                line-height: 100px;
            }

            &>ul {
                padding: 8px;
                cursor: pointer;
                color: $notice-list-color;

                .content-type-wrap {
                    display: flex;

                    &:hover {
                        background: $notice-active-bg-color;
                    }

                    .content-type {
                        flex-grow: 1;
                        line-height: 30px;
                        height: 30px;
                        max-width: 350px;
                        padding: 0 5px;
                        font-size: 13px;
                        @include text-overflow-ellipsis();
                    }

                    .count {
                        width: 35px;

                        i {
                            border-radius: 7px;
                            display: inline-block;
                            height: 15px;
                            line-height: 15px;
                            width: 30px;
                            text-align: center;
                            color: #fff;
                            background: $notice-active-color;
                            font-style: normal;
                        }
                    }
                }

                .content-wrap {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    border-bottom: 1px $border-color-base dashed;
                    max-width: 350px;
                    padding: 0 5px;

                    &:hover {
                        background: $notice-active-bg-color;
                    }

                    .content {
                        width: 100%;
                        font-size: 13px;
                        line-height: 30px;

                        .content-title {
                            display: inline-block;
                            @include text-overflow-ellipsis();
                            vertical-align: bottom;
                            max-width: 92px;
                        }
                    }

                    .time {
                        width: 100%;
                        font-size: 12px;
                        text-align: right;
                        line-height: 25px;
                    }
                }
            }

            .baseline {
                height: 12px;
                text-align: center;
                color: $notice-tip-color;
                line-height: 30px;
            }
        }

        .notice-footer {
            display: flex;
            background: #fff;
            border-radius: 0 0 4px 4px;

            .footer-item {
                flex-grow: 1;
                flex-direction: row-reverse;
                cursor: pointer;
                padding: 0 15px;
                line-height: 40px;
                text-align: center;
                color: $notice-footer-color;
            }
        }
    }

    .triangle {
        @include triangle(7px,$notice-border-color);
    }
}