$pagination-margin-left: -1px !default;

$pagination-size:((lg, 12, 20, 14, 4),
    (sm, 9, 15, 12, 3),
    (mini, 7, 15, 12, 3));

@mixin pagination-border-radius($border-radius) {
    @if $pagination-margin-left==(-1px) {
        &:first-child {
            .page-link {
                @include border-left-radius($border-radius);
            }
        }

        &:last-child {
            .page-link {
                @include border-right-radius($border-radius);
            }
        }
    }

    @else {

        //Add border-radius to all pageLinks in case they have left margin
        .page-link {
            @include border-radius($border-radius);
        }
    }
}

.xui-pagination-wrap {
    @include list-unstyled();
    display: inline-block;
    @include clearfix();

    .page-link {
        float: left;
        position: relative;
        display: block;
        padding: 10px 20px;
        font-size: 14px;
        color: $color-primary;
        background-color: $color-white;
        border: 1px solid $border-color-base;

        &:hover {
            z-index: 2;
            text-decoration: none;
            background-color: $color-primary-lighter;
            border-color: $primary-200;
            color: $color-primary;
        }

        &:focus {
            z-index: 3;
        }
    }

    .page-item {
        float: left;

        &:not(:first-child) .page-link {
            margin-left: $pagination-margin-left;
        }

        &.active .page-link {
            z-index: 3;
            background-color: $color-primary;
            border-color: $color-primary;
            border-right-color: $border-color-base;
            color: $color-white;
        }

        &.disabled .page-link {
            cursor: not-allowed;
            color: tint-color($color-text-primary, 7);
            border-color: tint-color($border-color-base, 2);
            background-color: $color-white;
        }
        @include pagination-border-radius(4px);
    }
}



@each $name,
$padding-y,
$padding-x,
$font-size,
$border-radius in $pagination-size {
    .xui-pagination-wrap.xui-pagination-#{$name} {
        .page-link {
            padding: #{$padding-y}px #{$padding-x}px;
            font-size: #{$font-size}px;
        }

        .page-item {
            @include pagination-border-radius(#{$border-radius}px);
        }
    }
}