$select-border-color:$border-color !default;
$select-border-focus-color:$input-btn-focus-color !default;

$select-default-width:11.25rem !default;
$select-default-height:15.625rem !default;
$select-font-size: 1rem !default;

$select-height: 28px !default;
$select-content-bg-color: $gray-100 !default;
$select-active-color: $blue-deep !default;
$select-list-color: $gray-800 !default;
$vertical-align-middle: middle !default;

@mixin select-input {
    border-radius: $border-radius;
    background-color: $white;
    font-size: $select-font-size;
    box-shadow: $box-shadow-inset;
    box-sizing: border-box;
    border: $border-width solid $select-border-color;
    -webkit-transition: $select-border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: $select-border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: $select-border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
        border-color: $select-border-focus-color;
        outline: 0;
        -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    }
}

.xui-select-warp {
    position: relative;
    display: inline-block;
    vertical-align: $vertical-align-middle;
    height: $select-height;
    line-height: $select-height;

    .select-show {
        @include select-input;
        position: releative;
        text-align: left;
        height: $select-height;
        line-height: $select-height;
        vertical-align: $vertical-align-middle;
        width: $select-default-width;
        padding: 0 5px;
        padding-right: 18px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $select-list-color;
    }

    .select-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top-color: $black;
        border-top-width: 6px;
        right: 5px;
        top: 14px;
    }

    .select-content {
        position: absolute;
        display: none;
        top: 29px;
        width: $select-default-width;
        height: $select-default-height;
        z-index: 1024;
        background: $select-content-bg-color;
        overflow: auto;
        border: $border-width solid $select-border-color;
        box-shadow: 0px 3px 7px 0px rgba(85, 176, 255, 0.3);
        box-sizing: border-box;

        iframe {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border: 0;
        }

        &.select-content-checkbox {
            padding-top: 38px;
        }

        &.select-separate {
            .separate-wrap {
                width: 100%;
                position: absolute;
                top: 0;
                padding-right: 20px;
                box-sizing: border-box;
                height: 38px;

                &.hidden-filter {
                    padding-right: 0px;
                }

                .select-filter-wrap {
                    padding: 5px;
                    box-sizing: border-box;

                    .select-filter {
                        width: 100% !important;
                        margin: 0;
                        position: relative;
                    }
                }

                i {
                    position: absolute;
                    top: 12px;
                    right: 7px;
                    cursor: pointer;
                    color: $gray-600;
                    line-height: 16px;
                }
            }
        }

        .select-filter {
            @include select-input;
            padding: 6px 12px;
            position: absolute;
            width: 96% !important;
            margin: 5px 2%;
            height: $select-height;
            top: 0;
        }

        .select-list {
            width: 100% !important;
            overflow: auto !important;
            height: 100% !important;
            // IE8滚动条箭头颜色，重设原来的浅色调避免弹框太小时完全无滚动条
            scrollbar-arrow-color: $black;

            li {
                width: 100% !important;
                min-height: $select-height !important;
                line-height: $select-height !important;
                border-bottom: $border-width solid $select-border-color;
                color: $select-list-color;
                cursor: pointer;
                text-align: left !important;
                display: table;
                padding-left: 3px;
                margin: 0 !important;
                border-collapse: initial;
                box-sizing: border-box;

                &:hover {
                    background: $select-active-color;
                    color: $white;
                }

                input[type='checkbox'] {
                    vertical-align: $vertical-align-middle;
                    margin-top: -2px;
                    width: 15px;
                    display: table-cell;
                }

                span {
                    display: table-cell;
                    width: 100%;
                    padding: 0 5px;
                    word-break: break-all;
                }

                &.empty-data {
                    color: $gray-600;
                    padding: 0 !important;

                    span {
                        text-align: center;
                        padding: 0;
                        font-size: 12px;
                    }

                    &:hover {
                        background: $select-content-bg-color;
                        color: $gray-600;
                    }
                }
            }

            li:last-child {
                border-bottom: none;
            }

            .active {
                color: $select-active-color;
            }
        }
    }
}

/** xue-checkbox **/
.xue-checkbox-wrap {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: $border-radius;
    box-sizing: border-box;
    background: $white;
    border: 1px solid $select-border-color;
    cursor: pointer;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;

    &:hover {
        border: $border-width solid $blue;
    }

    &.gx-checked {
        background: #dff2ff;
        border: $border-width solid $blue;

        i {
            color: $blue-deep;
        }
    }

    i {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: $white;
    }
}