/** xueToggle **/
.xui-toggle-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    position: relative;
    cursor: pointer;

    &.active {
        .toggle-bar {
            background: #13BA5A;
        }

        .toggle-button {
            left: 12px;
            border: 1px solid #13BA5A;
        }
    }

    .toggle-bar {
        transition: All 0.3s ease;
        -webkit-transition: All 0.3s ease;
        -moz-transition: All 0.3s ease;
        -o-transition: All 0.3s ease;
        width: 100%;
        height: 18px;
        background: #CAE7FC;
        border-radius: 9px;
    }

    .toggle-button {
        transition: All 0.3s ease;
        -webkit-transition: All 0.3s ease;
        -moz-transition: All 0.3s ease;
        -o-transition: All 0.3s ease;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background: #fff;
        top: 0;
        left: 0;
        border: 1px solid #CEE0F0;
        box-shadow: 0px 1px 2px 0px rgba(86, 120, 159, 0.15);
        box-sizing: border-box;
    }
}

$switch-check-color: $color-primary !default;
$switch-discheck-color:$border-color-base !default;
.xui-switch-wrap {
    display: inline-block;
    width: 30px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        opacity:0.6;
    }

    .swith-checkbox {
        position: absolute;
        opacity: 0;

        &:checked~.toggle-btn {
            left: 12px;
            border: 1px solid $switch-check-color;
        }

        &:checked~.switch-bg {
            background: $switch-check-color;
        }
    }

    .switch-bg {
        transition: All 0.3s ease;
        -webkit-transition: All 0.3s ease;
        -moz-transition: All 0.3s ease;
        -o-transition: All 0.3s ease;
        width: 100%;
        height: 100%;
        background: $switch-discheck-color;
        border-radius: 9px;
    }

    .toggle-btn {
        transition: All 0.3s ease;
        -webkit-transition: All 0.3s ease;
        -moz-transition: All 0.3s ease;
        -o-transition: All 0.3s ease;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background: $color-white;
        top: 0;
        left: 0;
        border: 1px solid $switch-discheck-color;
        box-shadow: 0px 1px 2px 0px rgba(86, 120, 159, 0.15);
        box-sizing: border-box;
    }
}