.xui-tree-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 10px;
    &.support-search {
        & > .tree-list {
            height: calc(100% - 41px);
            overflow-y: scroll;
        }
    }
    .tree-search{
        width: 100%;
        padding: 0 10px;
        text-align: center;
        border-bottom: 1px solid $border-color-base;
        .tree-ipt{
            height: 30px;
            width: 100%;
            border-radius: 15px;
            margin: 5px 0;
            color: $color-text-regular;
            background-image: url(../images/menu_search.png);
            background-repeat: no-repeat;
            background-position-x: 5px;
            background-position-y: 7px;
            padding-left: 25px;
            border: 1px solid $border-color-base;
            outline: none;
            &:focus {
                outline: none;
                border-color: $color-primary;
                box-shadow: 0 0 0 2px rgba(64,158,255,0.1);
            }
        }
        .search-list{
            position: absolute;
            top: 38px;
            width: 90%;
            left: 5%;
            z-index: 9999;
            background: $background-color-base;
            border-radius: 5px;
            li{
                height: 28px;
                line-height: 28px;
                text-align: left;
                cursor: pointer;
                padding: 0 10px;
                color: $color-text-regular;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
    & > .tree-list {
        padding: 0 10px;
    }
    .tree-list {
        overflow: hidden;
        .tree-item {
            position: relative;
            padding-left: 20px;
            &.level1 {
                padding-left: 0px;
            }
            .tree-row {
                display: flex;
                align-items: center;
                transition: all 0.2s ease;
                line-height: 28px;
                padding-right: 10px;
                .node-align {
                    display: inline-block;
                    vertical-align: middle;
                }
                .expand-icon {
                    position: relative;
                    width: 12px;
                    text-align: center;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    z-index: 10;
                    &.expanded {
                        transform: rotate(90deg);
                    }
                }
                .check-icon {
                    margin: 0 4px;
                    line-height: 1;
                }
                .node-icon {    
                    display: flex;
                    align-items: center;
                    margin: 0 4px;
                }
                .node-title {
                    flex: 1;
                    margin: 0;
                    border-radius: 3px;
                    padding: 0 4px;
                    line-height: 24px;
                    cursor: pointer;
                    color: $color-text-regular;
                    transition: all .2s ease-in-out;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:hover {
                        background: $color-primary-lighter;
                    }
                    &.active {
                        background: $color-primary-light;
                    }
                }
                .loading-icon {
                    font-size: 16px;
                }
            }
            .tree-list {
                &.ng-hide {
                    display: block !important;
                    .tree-row {
                        height: 0;
                    }
                }
            }
            &.show-line {
                &::before {
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 16px;
                    top: 6px;
                    background: #fff;
                    z-index: 1;
                    left: 20px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 25px;
                    border-left: 1px dashed $border-color-base;
                }
                &:last-child {
                    &::after {
                        height: 8px;
                    }
                }
                &.leaf {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 0;
                        top: 50%;
                        left: 26px;
                        border-top: 1px dashed $border-color-base;
                    }
                    &:last-child {
                        &::after {
                            height: 50%;
                        }
                    }
                }
                &.level1 {
                    padding-left: 0px;
                    &::before {
                        left: 0;
                    }
                    &::after {
                        left: 6px;
                    }
                    &:only-of-type {
                        &::after {
                            border: 0 none;
                        }
                    }
                }
            }
        }
    }
}