<div class="main-menu-container" id="componentLeftWrap" data-first-module-name="color"
    data-ng-init="ui.load()">
    <ul class="node-menu">
        <li>
            <div class="child-menu">
                <a data-module-name="color"
                    ng-click="ui.selectMenu($event)">Color</a></div><div class="child-menu">
                <a data-module-name="border"
                    ng-click="ui.selectMenu($event)">Border</a></div><div class="child-menu">
                <a data-module-name="button"
                    ng-click="ui.selectMenu($event)">Button</a></div><div class="child-menu">
                <a data-module-name="icon"
                    ng-click="ui.selectMenu($event)">Icon</a></div><div class="child-menu">
                <a data-module-name="input"
                    ng-click="ui.selectMenu($event)">Input</a></div><div class="child-menu">
                <a data-module-name="layout"
                    ng-click="ui.selectMenu($event)">Layout</a></div><div class="child-menu">
                <a data-module-name="link"
                    ng-click="ui.selectMenu($event)">Link</a></div>
        </li>
    </ul>
</div>
<div class="main-content-container" id="componentRightWrap">
    
    <section class="module-wrap" id="color">
        <div class="page-header">
            <h1>Color</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        <div class="ui-demo-color">
    <p class="heading xui-color-text-regular">主色</p>
    <p class="subheading xui-color-text-secondary">主要品牌色。</p>
    <div class="primary-wrap">
        <div class="primary-color xui-bg-primary">Brand Color</div>
        <div class="primary-list">
            <ul>
                <li class="xui-bg-primary-900"></li>
                <li class="xui-bg-primary-800"></li>
                <li class="xui-bg-primary-700"></li>
                <li class="xui-bg-primary-600"></li>
                <li class="xui-bg-primary-500"></li>
                <li class="xui-bg-primary-400"></li>
                <li class="xui-bg-primary-300"></li>
                <li class="xui-bg-primary-200"></li>
                <li class="xui-bg-primary-100"></li>
                <li class="xui-bg-primary-light"></li>
                <li class="xui-bg-primary-lighter"></li>
            </ul>
        </div>
    </div>
    <p class="heading xui-color-text-regular">辅助色</p>
    <p class="subheading xui-color-text-secondary">除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。</p>
    <div class="auxiliary-wrap">
        <ul>
            <li>
                <div class="color-content xui-bg-success">success</div>
                <div class="color-liner"><span class="xui-bg-success-light"></span><span class="xui-bg-success-lighter"></span></div>
            </li>
            <li>
                <div class="color-content xui-bg-info">info</div>
                <div class="color-liner"><span class="xui-bg-info-light"></span><span class="xui-bg-info-lighter"></span></div>
            </li>
            <li>
                <div class="color-content xui-bg-warning">warning</div>
                <div class="color-liner"><span class="xui-bg-warning-light"></span><span class="xui-bg-warning-lighter"></span></div>
            </li>
            <li>
                <div class="color-content xui-bg-danger">danger</div>
                <div class="color-liner"><span class="xui-bg-danger-light"></span><span class="xui-bg-danger-lighter"></span></div>
            </li>
        </ul>
    </div>
    <p class="heading xui-color-text-regular">中性色</p>
    <p class="subheading xui-color-text-secondary">中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。</p>
    <div class="neutral-wrap">
        <div class="neutral-list">
            <ul>
                <li class="xui-bg-text-primary">主要文字</li>
                <li class="xui-bg-text-regular">常规文字</li>
                <li class="xui-bg-text-secondary">次要文字</li>
                <li class="xui-bg-text-placeholder">占位文字</li>
            </ul>
        </div>
        <div class="neutral-list">
            <ul style="color: #606266">
                <li class="xui-bg-border-base">一级边框</li>
                <li class="xui-bg-border-light">二级边框</li>
                <li class="xui-bg-border-lighter">三级边框</li>
                <li class="xui-bg-border-extra-light">四级边框</li>
            </ul>
        </div>
        <div class="neutral-list">
            <ul>
                <li class="xui-bg-black">基础黑色</li>
                <li class="xui-bg-white" style="color: #606266; border: solid 1px #dcdfe6">基础白色</li>
                <li class="xui-bg-background-base" style="color: #606266; border: solid 1px #dcdfe6">基础背景色</li>
            </ul>
        </div>
    </div>
</div>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html">&lt;div class=&quot;ui-demo-color&quot;&gt;
    &lt;p class=&quot;heading xui-color-text-regular&quot;&gt;主色&lt;/p&gt;
    &lt;p class=&quot;subheading xui-color-text-secondary&quot;&gt;主要品牌色。&lt;/p&gt;
    &lt;div class=&quot;primary-wrap&quot;&gt;
        &lt;div class=&quot;primary-color xui-bg-primary&quot;&gt;Brand Color&lt;/div&gt;
        &lt;div class=&quot;primary-list&quot;&gt;
            &lt;ul&gt;
                &lt;li class=&quot;xui-bg-primary-900&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-800&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-700&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-600&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-500&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-400&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-300&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-200&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-100&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-light&quot;&gt;&lt;/li&gt;
                &lt;li class=&quot;xui-bg-primary-lighter&quot;&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;p class=&quot;heading xui-color-text-regular&quot;&gt;辅助色&lt;/p&gt;
    &lt;p class=&quot;subheading xui-color-text-secondary&quot;&gt;除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。&lt;/p&gt;
    &lt;div class=&quot;auxiliary-wrap&quot;&gt;
        &lt;ul&gt;
            &lt;li&gt;
                &lt;div class=&quot;color-content xui-bg-success&quot;&gt;success&lt;/div&gt;
                &lt;div class=&quot;color-liner&quot;&gt;&lt;span class=&quot;xui-bg-success-light&quot;&gt;&lt;/span&gt;&lt;span class=&quot;xui-bg-success-lighter&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;div class=&quot;color-content xui-bg-info&quot;&gt;info&lt;/div&gt;
                &lt;div class=&quot;color-liner&quot;&gt;&lt;span class=&quot;xui-bg-info-light&quot;&gt;&lt;/span&gt;&lt;span class=&quot;xui-bg-info-lighter&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;div class=&quot;color-content xui-bg-warning&quot;&gt;warning&lt;/div&gt;
                &lt;div class=&quot;color-liner&quot;&gt;&lt;span class=&quot;xui-bg-warning-light&quot;&gt;&lt;/span&gt;&lt;span class=&quot;xui-bg-warning-lighter&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;div class=&quot;color-content xui-bg-danger&quot;&gt;danger&lt;/div&gt;
                &lt;div class=&quot;color-liner&quot;&gt;&lt;span class=&quot;xui-bg-danger-light&quot;&gt;&lt;/span&gt;&lt;span class=&quot;xui-bg-danger-lighter&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;p class=&quot;heading xui-color-text-regular&quot;&gt;中性色&lt;/p&gt;
    &lt;p class=&quot;subheading xui-color-text-secondary&quot;&gt;中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。&lt;/p&gt;
    &lt;div class=&quot;neutral-wrap&quot;&gt;
        &lt;div class=&quot;neutral-list&quot;&gt;
            &lt;ul&gt;
                &lt;li class=&quot;xui-bg-text-primary&quot;&gt;主要文字&lt;/li&gt;
                &lt;li class=&quot;xui-bg-text-regular&quot;&gt;常规文字&lt;/li&gt;
                &lt;li class=&quot;xui-bg-text-secondary&quot;&gt;次要文字&lt;/li&gt;
                &lt;li class=&quot;xui-bg-text-placeholder&quot;&gt;占位文字&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class=&quot;neutral-list&quot;&gt;
            &lt;ul style=&quot;color: #606266&quot;&gt;
                &lt;li class=&quot;xui-bg-border-base&quot;&gt;一级边框&lt;/li&gt;
                &lt;li class=&quot;xui-bg-border-light&quot;&gt;二级边框&lt;/li&gt;
                &lt;li class=&quot;xui-bg-border-lighter&quot;&gt;三级边框&lt;/li&gt;
                &lt;li class=&quot;xui-bg-border-extra-light&quot;&gt;四级边框&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class=&quot;neutral-list&quot;&gt;
            &lt;ul&gt;
                &lt;li class=&quot;xui-bg-black&quot;&gt;基础黑色&lt;/li&gt;
                &lt;li class=&quot;xui-bg-white&quot; style=&quot;color: #606266; border: solid 1px #dcdfe6&quot;&gt;基础白色&lt;/li&gt;
                &lt;li class=&quot;xui-bg-background-base&quot; style=&quot;color: #606266; border: solid 1px #dcdfe6&quot;&gt;基础背景色&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        <h4 id="ui-color-default-theme">ui color default theme</h4>

                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="border">
        <div class="page-header">
            <h1>Border</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        <div>
    test border
</div>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html">&lt;div&gt;
    test border
&lt;/div&gt;</code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        <h4 id="test-border">test border</h4>

                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="button">
        <div class="page-header">
            <h1>Button</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        <div class="ui-demo-btn">
    <div class="btn-list">
        <button class="xui-btn xui-btn-default">默认按钮</button>
        <button class="xui-btn xui-btn-primary">主要按钮</button>
        <button class="xui-btn xui-btn-info">信息按钮</button>
        <button class="xui-btn xui-btn-success">成功按钮</button>
        <button class="xui-btn xui-btn-warning">警告按钮</button>
        <button class="xui-btn xui-btn-danger">危险按钮</button>
    </div>
    <div class="btn-list">
        <button class="xui-btn xui-btn-default is-disabled">禁用按钮</button>
        <button class="xui-btn xui-btn-primary is-disabled">主要按钮</button>
        <button class="xui-btn xui-btn-info is-disabled">信息按钮</button>
        <button class="xui-btn xui-btn-success is-disabled">成功按钮</button>
        <button class="xui-btn xui-btn-warning is-disabled">警告按钮</button>
        <button class="xui-btn xui-btn-danger is-disabled">危险按钮</button>
    </div>
    <div class="btn-list">
        <button class="xui-btn xui-btn-default is-plain">朴素按钮</button>
        <button class="xui-btn xui-btn-primary is-plain">主要按钮</button>
        <button class="xui-btn xui-btn-info is-plain">信息按钮</button>
        <button class="xui-btn xui-btn-success is-plain">成功按钮</button>
        <button class="xui-btn xui-btn-warning is-plain">警告按钮</button>
        <button class="xui-btn xui-btn-danger is-plain">危险按钮</button>
    </div>
    <div class="btn-list">
        <button class="xui-btn xui-btn-default is-plain is-disabled">禁用按钮</button>
        <button class="xui-btn xui-btn-primary is-plain is-disabled">主要按钮</button>
        <button class="xui-btn xui-btn-info is-plain is-disabled">信息按钮</button>
        <button class="xui-btn xui-btn-success is-plain is-disabled">成功按钮</button>
        <button class="xui-btn xui-btn-warning is-plain is-disabled">警告按钮</button>
        <button class="xui-btn xui-btn-danger is-plain is-disabled">危险按钮</button>
    </div>
    <div class="btn-list">
        <button class="xui-btn xui-btn-default is-round">圆角按钮</button>
        <button class="xui-btn xui-btn-primary is-round">主要按钮</button>
        <button class="xui-btn xui-btn-info is-round">信息按钮</button>
        <button class="xui-btn xui-btn-success is-round">成功按钮</button>
        <button class="xui-btn xui-btn-warning is-round">警告按钮</button>
        <button class="xui-btn xui-btn-danger is-round">危险按钮</button>
    </div>
    <div class="btn-list">
        <button class="xui-btn xui-btn-default is-round is-disabled">禁用按钮</button>
        <button class="xui-btn xui-btn-primary is-round is-disabled">主要按钮</button>
        <button class="xui-btn xui-btn-info is-round is-disabled">信息按钮</button>
        <button class="xui-btn xui-btn-success is-round is-disabled">成功按钮</button>
        <button class="xui-btn xui-btn-warning is-round is-disabled">警告按钮</button>
        <button class="xui-btn xui-btn-danger is-round is-disabled">危险按钮</button>
    </div>
</div>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html">&lt;div class=&quot;ui-demo-btn&quot;&gt;
    &lt;div class=&quot;btn-list&quot;&gt;
        &lt;button class=&quot;xui-btn xui-btn-default&quot;&gt;默认按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-primary&quot;&gt;主要按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-info&quot;&gt;信息按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-success&quot;&gt;成功按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-warning&quot;&gt;警告按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-danger&quot;&gt;危险按钮&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-list&quot;&gt;
        &lt;button class=&quot;xui-btn xui-btn-default is-disabled&quot;&gt;禁用按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-primary is-disabled&quot;&gt;主要按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-info is-disabled&quot;&gt;信息按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-success is-disabled&quot;&gt;成功按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-warning is-disabled&quot;&gt;警告按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-danger is-disabled&quot;&gt;危险按钮&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-list&quot;&gt;
        &lt;button class=&quot;xui-btn xui-btn-default is-plain&quot;&gt;朴素按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-primary is-plain&quot;&gt;主要按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-info is-plain&quot;&gt;信息按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-success is-plain&quot;&gt;成功按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-warning is-plain&quot;&gt;警告按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-danger is-plain&quot;&gt;危险按钮&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-list&quot;&gt;
        &lt;button class=&quot;xui-btn xui-btn-default is-plain is-disabled&quot;&gt;禁用按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-primary is-plain is-disabled&quot;&gt;主要按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-info is-plain is-disabled&quot;&gt;信息按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-success is-plain is-disabled&quot;&gt;成功按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-warning is-plain is-disabled&quot;&gt;警告按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-danger is-plain is-disabled&quot;&gt;危险按钮&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-list&quot;&gt;
        &lt;button class=&quot;xui-btn xui-btn-default is-round&quot;&gt;圆角按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-primary is-round&quot;&gt;主要按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-info is-round&quot;&gt;信息按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-success is-round&quot;&gt;成功按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-warning is-round&quot;&gt;警告按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-danger is-round&quot;&gt;危险按钮&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;btn-list&quot;&gt;
        &lt;button class=&quot;xui-btn xui-btn-default is-round is-disabled&quot;&gt;禁用按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-primary is-round is-disabled&quot;&gt;主要按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-info is-round is-disabled&quot;&gt;信息按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-success is-round is-disabled&quot;&gt;成功按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-warning is-round is-disabled&quot;&gt;警告按钮&lt;/button&gt;
        &lt;button class=&quot;xui-btn xui-btn-danger is-round is-disabled&quot;&gt;危险按钮&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="icon">
        <div class="page-header">
            <h1>Icon</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="input">
        <div class="page-header">
            <h1>Input</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="layout">
        <div class="page-header">
            <h1>Layout</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="link">
        <div class="page-header">
            <h1>Link</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
</div>