<div class="main-menu-container" id="componentLeftWrap" data-first-module-name="border"
    data-ng-init="ui.load()">
    <ul class="node-menu">
        <li>
            <div class="child-menu">
                <a data-module-name="border"
                    ng-click="ui.selectMenu($event)">Border</a></div><div class="child-menu">
                <a data-module-name="button"
                    ng-click="ui.selectMenu($event)">Button</a></div><div class="child-menu">
                <a data-module-name="color"
                    ng-click="ui.selectMenu($event)">Color</a></div><div class="child-menu">
                <a data-module-name="icon"
                    ng-click="ui.selectMenu($event)">Icon</a></div><div class="child-menu">
                <a data-module-name="input"
                    ng-click="ui.selectMenu($event)">Input</a></div><div class="child-menu">
                <a data-module-name="layout"
                    ng-click="ui.selectMenu($event)">Layout</a></div><div class="child-menu">
                <a data-module-name="link"
                    ng-click="ui.selectMenu($event)">Link</a></div>
        </li>
    </ul>
</div>
<div class="main-content-container" id="componentRightWrap">
    
    <section class="module-wrap" id="border">
        <div class="page-header">
            <h1>Border</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        <div>
    test border
</div>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html">&lt;div&gt;
    test border
&lt;/div&gt;</code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        <h4 id="test-border">test border</h4>

                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="button">
        <div class="page-header">
            <h1>Button</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="color">
        <div class="page-header">
            <h1>Color</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="icon">
        <div class="page-header">
            <h1>Icon</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="input">
        <div class="page-header">
            <h1>Input</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="layout">
        <div class="page-header">
            <h1>Layout</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
    <section class="module-wrap" id="link">
        <div class="page-header">
            <h1>Link</h1>
        </div>
        <xue-tabs-wrap>
            <xue-tab label="'示例'" value="1">
                <div class="page-content">
                    <div class="content-html">
                        
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'代码'" value="3">
                <div class="page-content-code">
                    <div class="col-md-12">
                        <xue-tabs-wrap type="border-card">
                            <xue-tab label="'html'" value="1">
                                <div class="code-wrap">
                                    <pre ng-non-bindable><code data-language="html"></code></pre>
                                </div>
                            </xue-tab>
                        </xue-tabs-wrap>
                    </div>
                </div>
            </xue-tab>
            <xue-tab label="'文档'" value="2">
                <div class="page-content">
                    <div class="content-md markdown-wrap">
                        
                    </div>
                </div>
            </xue-tab>
        </xue-tabs-wrap>
    </section>
    
</div>