* {
  padding: 0;
  margin: 0; }

body {
  color: #212529;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: calc(1.375rem + 1.5vw); }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: calc(1.325rem + 0.9vw); }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: calc(1.3rem + 0.6vw); }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem; } }

h4 {
  font-size: calc(1.275rem + 0.3vw); }
  @media (min-width: 1200px) {
    h4 {
      font-size: 1.5rem; } }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none; }

address {
  font-style: normal;
  line-height: inherit; }

dt {
  font-weight: 700; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 0.875em; }

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline; }

a {
  color: #5BABE6;
  text-decoration: none; }
  a:hover {
    color: #2088d4;
    text-decoration: underline; }

a:not([href]), a:not([href]):hover {
  color: inherit;
  text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

code {
  font-size: 0.875em;
  color: #adb5bd;
  word-wrap: break-word; }
  a > code {
    color: inherit; }

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem; }
  kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700; }

img {
  vertical-align: middle; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  color: inherit;
  white-space: normal; }
  @media (min-width: 1200px) {
    legend {
      font-size: 1.5rem; } }

mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

progress {
  vertical-align: baseline; }

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

main {
  display: block; }

[hidden] {
  display: none !important; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.xui-pagination-wrap {
  padding-left: 0;
  list-style: none;
  display: inline-block; }
  .xui-pagination-wrap::after {
    display: block;
    clear: both;
    content: ""; }
  .xui-pagination-wrap .page-link {
    float: left;
    position: relative;
    display: block;
    color: #2180BA;
    background-color: #fff;
    border: 1px solid #dee2e6; }
    .xui-pagination-wrap .page-link:hover {
      z-index: 2;
      color: #2088d4;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6; }
    .xui-pagination-wrap .page-link:focus {
      z-index: 3; }
  .xui-pagination-wrap .page-item {
    float: left; }
    .xui-pagination-wrap .page-item:not(:first-child) .page-link {
      margin-left: -1px; }
    .xui-pagination-wrap .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #5BABE6;
      border-color: #5BABE6; }
    .xui-pagination-wrap .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      background-color: #fff;
      border-color: #dee2e6; }
  .xui-pagination-wrap .page-link {
    padding: 0.25rem 0.85rem; }
  .xui-pagination-wrap .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .xui-pagination-wrap .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; }
  .xui-pagination-wrap.xui-pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem; }
  .xui-pagination-wrap.xui-pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem; }
  .xui-pagination-wrap.xui-pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  .xui-pagination-wrap.xui-pagination-sm .page-link {
    padding: 0.2rem 0.5rem;
    font-size: 0.875rem; }
  .xui-pagination-wrap.xui-pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem; }
  .xui-pagination-wrap.xui-pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }

.test .test-blue {
  color: #5BABE6; }

.test .test-blue-deep {
  color: #2180BA; }

.test .test-purple {
  color: #A059B9; }

.test .test-purple-deep {
  color: #8D44AD; }

.test .test-red {
  color: #E94B40; }

.test .test-red-deep {
  color: #C5392A; }

.test .test-orange {
  color: #E77F20; }

.test .test-orange-deep {
  color: #D75205; }

.test .test-yellow {
  color: #F2C311; }

.test .test-yellow-deep {
  color: #F39D16; }

.test .test-green {
  color: #2ECE6E; }

.test .test-green-deep {
  color: #28AC60; }

.test .test-teal {
  color: #1DBC9C; }

.test .test-teal-deep {
  color: #17A086; }

.test .test-white {
  color: #fff; }

.test .test-gray {
  color: #6c757d; }

.test .test-gray-dark {
  color: #343a40; }
