/* @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints"); */
/* @include _assert-ascending($container-max-widths, "$container-max-widths"); */
* {
  padding: 0;
  margin: 0; }

img {
  vertical-align: middle; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

button {
  border-radius: 0; }

button,
input {
  overflow: visible; }
