* {
  padding: 0;
  margin: 0; }

body {
  color: #212529;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: calc(1.375rem + 1.5vw); }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: calc(1.325rem + 0.9vw); }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: calc(1.3rem + 0.6vw); }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem; } }

h4 {
  font-size: calc(1.275rem + 0.3vw); }
  @media (min-width: 1200px) {
    h4 {
      font-size: 1.5rem; } }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none; }

address {
  font-style: normal;
  line-height: inherit; }

dt {
  font-weight: 700; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 0.875em; }

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline; }

a {
  color: #5BABE6;
  text-decoration: none; }
  a:hover {
    color: #2088d4;
    text-decoration: underline; }

a:not([href]), a:not([href]):hover {
  color: inherit;
  text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

code {
  font-size: 0.875em;
  color: #adb5bd;
  word-wrap: break-word; }
  a > code {
    color: inherit; }

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem; }
  kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700; }

img {
  vertical-align: middle; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  color: inherit;
  white-space: normal; }
  @media (min-width: 1200px) {
    legend {
      font-size: 1.5rem; } }

mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

progress {
  vertical-align: baseline; }

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

main {
  display: block; }

[hidden] {
  display: none !important; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.xui-pagination-wrap {
  padding-left: 0;
  list-style: none;
  display: inline-block; }
  .xui-pagination-wrap::after {
    display: block;
    clear: both;
    content: ""; }
  .xui-pagination-wrap .page-link {
    float: left;
    position: relative;
    display: block;
    color: #2180BA;
    background-color: #fff;
    border: 1px solid #dee2e6; }
    .xui-pagination-wrap .page-link:hover {
      z-index: 2;
      color: #2088d4;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6; }
    .xui-pagination-wrap .page-link:focus {
      z-index: 3; }
  .xui-pagination-wrap .page-item {
    float: left; }
    .xui-pagination-wrap .page-item:not(:first-child) .page-link {
      margin-left: -1px; }
    .xui-pagination-wrap .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #5BABE6;
      border-color: #5BABE6; }
    .xui-pagination-wrap .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      background-color: #fff;
      border-color: #dee2e6; }
  .xui-pagination-wrap .page-link {
    padding: 0.25rem 0.85rem; }
  .xui-pagination-wrap .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .xui-pagination-wrap .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; }
  .xui-pagination-wrap.xui-pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem; }
  .xui-pagination-wrap.xui-pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem; }
  .xui-pagination-wrap.xui-pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  .xui-pagination-wrap.xui-pagination-sm .page-link {
    padding: 0.2rem 0.5rem;
    font-size: 0.875rem; }
  .xui-pagination-wrap.xui-pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem; }
  .xui-pagination-wrap.xui-pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }

.xui-tabs-wrap {
  position: relative; }
  .xui-tabs-wrap .xui-nav-wrap {
    padding-left: 0;
    list-style: none; }
    .xui-tabs-wrap .xui-nav-wrap::after {
      display: block;
      clear: both;
      content: ""; }
    .xui-tabs-wrap .xui-nav-wrap .nav-item {
      float: left; }
      .xui-tabs-wrap .xui-nav-wrap .nav-item .nav-link {
        display: block;
        color: #2180BA;
        background-color: #fff;
        border: 1px solid #dee2e6; }
  .xui-tabs-wrap .nav-link {
    padding: 0.25rem 0.85rem; }

.xui-select-warp {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  line-height: 28px; }
  .xui-select-warp .select-show {
    border-radius: 0.25rem;
    background-color: #fff;
    font-size: 16px;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    border: 1px solid #cee0f0;
    -webkit-transition: #cee0f0 ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: #cee0f0 ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: #cee0f0 ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    display: inline-block;
    text-align: left;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    width: 180px;
    padding: 0 5px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 18px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #2b3646; }
    .xui-select-warp .select-show:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .xui-select-warp .select-content {
    position: absolute;
    display: none;
    top: 29px;
    width: 180px;
    height: 250px;
    z-index: 1024;
    background: #f8f8f8;
    overflow: auto;
    border: 1px solid #cee0f0;
    box-shadow: 0px 3px 7px 0px rgba(85, 176, 255, 0.3); }
    .xui-select-warp .select-content iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border: 0; }
    .xui-select-warp .select-content.select-content-checkbox {
      padding-top: 38px; }
    .xui-select-warp .select-content.select-separate .separate-wrap {
      width: 100%;
      position: absolute;
      top: 0;
      padding-right: 20px;
      box-sizing: border-box;
      height: 38px; }
      .xui-select-warp .select-content.select-separate .separate-wrap.hidden-filter {
        padding-right: 0px; }
      .xui-select-warp .select-content.select-separate .separate-wrap .select-filter-wrap {
        padding: 5px;
        box-sizing: border-box; }
        .xui-select-warp .select-content.select-separate .separate-wrap .select-filter-wrap .select-filter {
          width: 100% !important;
          margin: 0;
          position: relative; }
      .xui-select-warp .select-content.select-separate .separate-wrap i {
        position: absolute;
        top: 12px;
        right: 7px;
        cursor: pointer;
        color: #6c757d; }
    .xui-select-warp .select-content .select-filter {
      border-radius: 0.25rem;
      background-color: #fff;
      font-size: 16px;
      padding: 6px 12px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-sizing: border-box;
      border: 1px solid #cee0f0;
      -webkit-transition: #cee0f0 ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: #cee0f0 ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: #cee0f0 ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      position: absolute;
      width: 96% !important;
      margin: 5px 2%;
      height: 28px;
      top: 0; }
      .xui-select-warp .select-content .select-filter:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    .xui-select-warp .select-content .select-list {
      width: 100% !important;
      overflow: auto !important;
      height: 100% !important;
      scrollbar-arrow-color: #000; }
      .xui-select-warp .select-content .select-list li {
        width: 100% !important;
        min-height: 28px !important;
        line-height: 28px !important;
        border-bottom: 1px solid #cee0f0;
        color: #2b3646;
        cursor: pointer;
        text-align: left !important;
        display: table;
        padding-left: 3px;
        margin: 0 !important;
        border-collapse: initial;
        box-sizing: border-box; }
        .xui-select-warp .select-content .select-list li:hover {
          background: #0394f9;
          color: #fff; }
        .xui-select-warp .select-content .select-list li input[type='checkbox'] {
          vertical-align: middle;
          margin-top: -2px;
          width: 15px;
          display: table-cell; }
        .xui-select-warp .select-content .select-list li span {
          display: table-cell;
          width: 100%;
          padding: 0 5px;
          word-break: break-all; }
        .xui-select-warp .select-content .select-list li.empty-data {
          color: #6c757d;
          padding: 0 !important; }
          .xui-select-warp .select-content .select-list li.empty-data span {
            text-align: center;
            padding: 0;
            font-size: 12px; }
          .xui-select-warp .select-content .select-list li.empty-data:hover {
            background: #f8f8f8;
            color: #6c757d; }
      .xui-select-warp .select-content .select-list li:last-child {
        border-bottom: none; }
      .xui-select-warp .select-content .select-list .active {
        color: #0394f9; }
