<div class="xui-select-wrap2">
    <div >
        <input ng-click="selectCtrl.openPanel($event)" ng-readonly="!selectConfig.filter || selectConfig.separate" type="text" class="xui-input select-show" title="{{selectConfig.inputLabel}}"
            ng-model="selectConfig.inputLabel" ng-class="selectClass" ng-style="selectCtrl.iptStyle"
            ng-change="selectCtrl.ev.changeIpt()" ng-disabled="ngDisabled" />
        <i class="dropdown-icon xui-icon xui-icon-md-arrow-dropdown"></i>
        <!-- <i class="dropdown-icon xui-icon xui-icon-md-arrow-dropup"></i> -->
    </div>
    <div class="select-content" id="{{selectConfig.id}}" ng-style="selectCtrl.contentStyle"
        ng-class="{'select-separate':selectConfig.separate}">
        <div class="separate-wrap" ng-if="selectConfig.separate" ng-class="{'hidden-filter':!selectConfig.enableEmpty}">
            <div class="select-filter-wrap">
                <input type="text" ng-model="selectConfig.myLabel" class="xui-input select-filter" />
            </div>
            <i ng-click="selectCtrl.ev.clear()" ng-if="selectConfig.enableEmpty" title="清空"
                class="xui-icon xui-icon-ios-trash"></i>
        </div>
        <ul class="select-list">
            <!-- 可过滤 -->
            <li ng-if="selectConfig.filter"
                ng-click="selectCtrl.ev.onBeforeSelect(item,$event)"
                ng-class="{true:'active'}[!!selectConfig.checkRowsMap[item[selectConfig.valueField]]]"
                ng-repeat="item in selectConfig.data | filter:selectConfig.separate ? selectConfig.myLabel:selectConfig.inputLabel | limitTo:selectConfig.showLimit">
                <xue-checkbox ng-if="selectConfig.checkbox" ng-checked="selectConfig.checkRowsMap[item[selectConfig.valueField]]"></xue-checkbox>
                <span ng-bind="item[selectConfig.textField] || textFieldFormat(item)"></span>
            </li>
            <!-- 不可过滤 -->
            <li ng-if="!selectConfig.filter"
                ng-click="selectCtrl.ev.onBeforeSelect(item,$event)"
                ng-class="{true:'active'}[!!selectConfig.checkRowsMap[item[selectConfig.valueField]]]"
                ng-repeat="item in selectConfig.data | limitTo:selectConfig.showLimit">
                <xue-checkbox  ng-if="selectConfig.checkbox" ng-checked="selectConfig.checkRowsMap[item[selectConfig.valueField]]"></xue-checkbox>
                <span ng-bind="item[selectConfig.textField] || textFieldFormat(item)"></span>
            </li>
            <li ng-if="!!!selectConfig.data || !selectConfig.data.length" class="empty-data">
                <span>暂无数据</span>
            </li>
        </ul>
    </div>
</div>