.xui-tree-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 10px;
    &.support-search {
        & > .tree-list {
            height: calc(100% - 41px);
            overflow-y: scroll;
        }
    }
    .tree-search{
        width: 100%;
        padding: 0 10px;
        text-align: center;
        border-bottom: 1px solid #CEE0F0;
        .tree-ipt{
            height: 30px;
            width: 100%;
            border-radius: 15px;
            margin: 5px 0;
            color: #515a6e;
            background-image: url(../images/menu_search.png);
            background-repeat: no-repeat;
            background-position-x: 5px;
            background-position-y: 7px;
            padding-left: 25px;
            border: 1px solid #CEE0F0;
            &:focus {
                border-color: #66afe9;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            }
        }
        .search-list{
            position: absolute;
            top: 38px;
            width: 90%;
            left: 5%;
            z-index: 9999;
            background: #ddd;
            border-radius: 5px;
            li{
                height: 28px;
                line-height: 28px;
                text-align: left;
                cursor: pointer;
                padding: 0 10px;
                color: #515a6e;
                &:hover{
                    color: #0394F9;
                }
            }
        }
    }
    & > .tree-list {
        padding: 0 10px;
    }
    .tree-list {
        overflow: hidden;
        .tree-item {
            position: relative;
            padding-left: 20px;
            &.level1 {
                padding-left: 0px;
            }
            .tree-row {
                display: flex;
                align-items: center;
                transition: all 0.2s ease;
                line-height: 28px;
                padding-right: 10px;
                .node-align {
                    display: inline-block;
                    vertical-align: middle;
                }
                .expand-icon {
                    position: relative;
                    width: 12px;
                    text-align: center;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    z-index: 10;
                    &.expanded {
                        transform: rotate(90deg);
                    }
                }
                .check-icon {
                    margin: 0 4px;
                    line-height: 1;
                }
                .node-icon {    
                    display: flex;
                    align-items: center;
                    margin: 0 4px;
                }
                .node-title {
                    flex: 1;
                    margin: 0;
                    border-radius: 3px;
                    padding: 0 4px;
                    line-height: 24px;
                    cursor: pointer;
                    color: #515a6e;
                    transition: all .2s ease-in-out;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:hover {
                        background: #eaf4fe;
                    }
                    &.active {
                        background: #d5e8fc;
                    }
                }
                .loading-icon {
                    width: 16px;
                    height: 16px;
                    background: url('../../../images/common/loading_32x32.gif') center / cover no-repeat;
                }
            }
            .tree-list {
                &.ng-hide {
                    display: block !important;
                    .tree-row {
                        height: 0;
                    }
                }
            }
            &.show-line {
                &::before {
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 16px;
                    top: 6px;
                    background: #fff;
                    z-index: 1;
                    left: 20px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 25px;
                    border-left: 1px dashed #ccc;
                }
                &:last-child {
                    &::after {
                        height: 8px;
                    }
                }
                &.leaf {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 0;
                        top: 50%;
                        left: 26px;
                        border-top: 1px dashed #ccc;
                    }
                    &:last-child {
                        &::after {
                            height: 50%;
                        }
                    }
                }
                &.level1 {
                    padding-left: 0px;
                    &::before {
                        left: 0;
                    }
                    &::after {
                        left: 6px;
                    }
                    &:only-of-type {
                        &::after {
                            border: 0 none;
                        }
                    }
                }
            }
        }
    }
}

/** gx-multi-checkbox **/
.xui-multi-checkbox-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    .multi-checkbox {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 1px solid #dcdee2;
        border-radius: 2px;
        background-color: #fff;
        transition: border-color .2s ease-in-out,background-color .2s ease-in-out,box-shadow .2s ease-in-out;
        &.multi-checkbox-checked {
            border-color: #2d8cf0;
            background-color: #2d8cf0;
            &:after {
                width: 4px;
                height: 8px;
                top: 2px;
                left: 5px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(1);
            }
        }
        &.multi-checkbox-indeterminate {
            border-color: #2d8cf0;
            background-color: #2d8cf0;
            &:after {
                width: 10px;
                height: 1px;
                left: 2px;
                top: 6px;
                border: 1px solid #fff;
            }
        }
        &:after {
            content: "";
            position: absolute;
        }
    }
    .multi-checkbox-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }
}