@charset "UTF-8";
.xui-datepicker-wrap {
  position: relative;
  display: inline-block; }
  .xui-datepicker-wrap .input-wrap {
    display: inline-block;
    width: 180px;
    height: 28px;
    padding: 0 15px;
    position: relative;
    border: 1px solid #cee0f0;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 5px;
    vertical-align: middle;
    background: #fff; }
    .xui-datepicker-wrap .input-wrap:focus {
      border-color: #409EFF;
      outline: 0;
      -webkit-boxl-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    .xui-datepicker-wrap .input-wrap:hover .sufix-input {
      background: url(../images/del_icon.png) center center no-repeat;
      cursor: pointer; }
    .xui-datepicker-wrap .input-wrap .type-ipt {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      line-height: 28px;
      -webkit-appearance: none;
      background-color: #fff;
      background-image: none;
      box-sizing: border-box;
      color: #606266;
      font-size: 14px;
      outline: none;
      width: 150px;
      font-weight: 400;
      border: none;
      padding: 3px;
      left: 18px; }
    .xui-datepicker-wrap .input-wrap .prefix-input {
      position: absolute;
      background: url(../images/date_icon.png) center center no-repeat;
      display: inline-block;
      width: 16px;
      height: 26px;
      top: 0;
      left: 2px;
      vertical-align: middle; }
      .xui-datepicker-wrap .input-wrap .prefix-input.time-icon {
        background: url(../images/time_icon.png) center center no-repeat; }
    .xui-datepicker-wrap .input-wrap .sufix-input {
      display: inline-block;
      width: 14px;
      height: 26px;
      position: absolute;
      right: 2px;
      top: 0;
      /* &:hover{
                background: url(../images/del_icon.jpg) center center no-repeat;
                cursor: pointer;
            } */ }
  .xui-datepicker-wrap .type-img {
    display: inline-block; }
  .xui-datepicker-wrap .type-span {
    display: inline-block; }

.xl-datepicker-content {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  position: absolute;
  min-width: 317px;
  top: 181px;
  left: 294px;
  z-index: 9999;
  background: #fff;
  display: none;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #606266;
  border: solid 1px #DCDFE6; }
  .xl-datepicker-content ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999; }
  .xl-datepicker-content :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999; }
  .xl-datepicker-content ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999; }
  .xl-datepicker-content :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999; }
  .xl-datepicker-content .xl-popper-arrow {
    top: -6px;
    width: 0;
    height: 0;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px #fff;
    position: absolute;
    left: 35px; }
    .xl-datepicker-content .xl-popper-arrow.arrow-bottom {
      top: auto;
      border-bottom: solid 6px transparent;
      border-top: solid 6px #fff; }
    .xl-datepicker-content .xl-popper-arrow.arrow-right {
      left: auto;
      right: 35px; }
  .xl-datepicker-content .show-date-wrap {
    padding: 5px;
    border-bottom: solid 1px #DCDFE6; }
    .xl-datepicker-content .show-date-wrap .show-ipt-wrap {
      position: relative;
      display: inline-block;
      padding: 5px;
      padding-bottom: 0; }
      .xl-datepicker-content .show-date-wrap .show-ipt-wrap .show-ipt {
        height: 28px;
        line-height: 28px;
        border-radius: 3px;
        width: 140px; }
        .xl-datepicker-content .show-date-wrap .show-ipt-wrap .show-ipt:focus {
          border: solid 1px #409EFF; }
      .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap {
        position: absolute;
        /* display: none; */
        width: 140px;
        height: 180px;
        z-index: 9999;
        border: solid 1px #ddd;
        border-radius: 2px;
        background: #fff;
        top: 34px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }
        .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content {
          height: 150px;
          display: flex;
          width: 100%;
          padding: 2px;
          font-size: 12px;
          position: relative; }
          .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content::after {
            content: "";
            display: block;
            position: absolute;
            border-top: solid 1px #ddd;
            width: 118px;
            height: 30px;
            margin-left: 7px;
            top: 63px;
            border-bottom: solid 1px #ddd; }
          .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar {
            flex-grow: 1;
            text-align: center;
            height: 100%;
            overflow: hidden;
            position: relative; }
            .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar ul {
              list-style: none;
              position: absolute;
              width: 100%;
              top: 0;
              transition: top 0.1s; }
              .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar ul::before {
                content: "";
                display: block;
                width: 100%;
                height: 60px; }
              .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar ul::after {
                content: "";
                display: block;
                width: 100%;
                height: 60px; }
              .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar ul li {
                line-height: 30px; }
                .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar ul li.active {
                  color: #333;
                  font-weight: 700; }
                .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-content .time-scrollbar ul li:hover {
                  background: #f0f5fb;
                  cursor: pointer; }
        .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-footer {
          height: 30px;
          border-top: solid 1px #ddd;
          text-align: right;
          line-height: 26px; }
          .xl-datepicker-content .show-date-wrap .show-ipt-wrap .select-time-wrap .select-time-footer .confirm {
            color: #409eff;
            font-weight: 700;
            font-size: 12px;
            margin-right: 15px;
            cursor: pointer; }
  .xl-datepicker-content .xl-content-header {
    text-align: center;
    padding: 15px 10px;
    padding-bottom: 0; }
    .xl-datepicker-content .xl-content-header > i {
      height: 16px;
      width: 16px;
      display: inline-block;
      cursor: pointer;
      margin-top: 3px;
      margin-left: 3px;
      margin-right: 3px; }
    .xl-datepicker-content .xl-content-header .xl-d-arrow-left {
      background: url(../images/d_arrow_left_normal.png); }
      .xl-datepicker-content .xl-content-header .xl-d-arrow-left:hover {
        background: url(../images/d_arrow_left_active.png); }
    .xl-datepicker-content .xl-content-header .xl-arrow-left {
      background: url(../images/arrow_left_normal.png); }
      .xl-datepicker-content .xl-content-header .xl-arrow-left:hover {
        background: url(../images/arrow_left_active.png); }
    .xl-datepicker-content .xl-content-header .xl-arrow-right {
      background: url(../images/arrow_right_normal.png); }
      .xl-datepicker-content .xl-content-header .xl-arrow-right:hover {
        background: url(../images/arrow_right_active.png); }
    .xl-datepicker-content .xl-content-header .xl-d-arrow-right {
      background: url(../images/d_arrow_right_normal.png); }
      .xl-datepicker-content .xl-content-header .xl-d-arrow-right:hover {
        background: url(../images/d_arrow_right_active.png); }
    .xl-datepicker-content .xl-content-header .last-year {
      float: left; }
    .xl-datepicker-content .xl-content-header .last-month {
      float: left; }
    .xl-datepicker-content .xl-content-header .current-year {
      line-height: 22px;
      padding: 0 5px;
      cursor: pointer; }
      .xl-datepicker-content .xl-content-header .current-year input {
        border: none;
        width: 45px;
        height: 22px;
        line-height: 22px;
        background: #eaf6ff;
        border-radius: 3px;
        padding: 0 5px;
        text-align: center; }
    .xl-datepicker-content .xl-content-header .current-month {
      line-height: 22px;
      padding: 0 5px;
      cursor: pointer; }
      .xl-datepicker-content .xl-content-header .current-month input {
        border: none;
        width: 35px;
        height: 22px;
        line-height: 22px;
        background: #eaf6ff;
        border-radius: 3px;
        padding: 0 5px;
        text-align: center; }
    .xl-datepicker-content .xl-content-header .next-month {
      float: right; }
    .xl-datepicker-content .xl-content-header .next-year {
      float: right; }
  .xl-datepicker-content .xl-content-body {
    padding: 10px; }
    .xl-datepicker-content .xl-content-body .xl-datepicker-table {
      width: 100%; }
      .xl-datepicker-content .xl-content-body .xl-datepicker-table th {
        padding: 10px;
        text-align: center;
        border-bottom: solid 1px #eee; }
      .xl-datepicker-content .xl-content-body .xl-datepicker-table td {
        text-align: center;
        padding: 7px;
        font-size: 13px; }
        .xl-datepicker-content .xl-content-body .xl-datepicker-table td.disabled-select {
          background: #ececec; }
          .xl-datepicker-content .xl-content-body .xl-datepicker-table td.disabled-select span {
            cursor: not-allowed; }
            .xl-datepicker-content .xl-content-body .xl-datepicker-table td.disabled-select spanhover {
              color: #C0C4CC; }
        .xl-datepicker-content .xl-content-body .xl-datepicker-table td span {
          width: 25px;
          height: 25px;
          line-height: 25px;
          display: block;
          cursor: pointer; }
          .xl-datepicker-content .xl-content-body .xl-datepicker-table td span.active {
            background: #409EFF;
            border-radius: 50%;
            color: #fff !important;
            font-weight: 400 !important; }
            .xl-datepicker-content .xl-content-body .xl-datepicker-table td span.active:hover {
              color: #fff; }
          .xl-datepicker-content .xl-content-body .xl-datepicker-table td span.not-current {
            color: #C0C4CC; }
          .xl-datepicker-content .xl-content-body .xl-datepicker-table td span:hover {
            color: #409EFF; }
          .xl-datepicker-content .xl-content-body .xl-datepicker-table td span.current {
            color: #409EFF;
            font-weight: 700; }
  .xl-datepicker-content .xl-content-footer {
    border-top: 1px solid #e4e4e4;
    padding: 4px;
    text-align: right;
    background-color: #fff;
    position: relative;
    font-size: 0; }
    .xl-datepicker-content .xl-content-footer button {
      padding: 5px 15px;
      font-size: 12px;
      border-radius: 3px;
      margin: 5px;
      border: 1px solid #DCDFE6;
      background: #fff;
      cursor: pointer; }
    .xl-datepicker-content .xl-content-footer .select-now {
      border-color: transparent;
      color: #409EFF;
      background: transparent;
      padding-left: 0;
      padding-right: 0; }
    .xl-datepicker-content .xl-content-footer .confirm-date {
      color: #606266; }

.xl-timepicker-content {
  position: absolute;
  min-width: 180px;
  height: 200px;
  top: 181px;
  left: 294px;
  z-index: 9999;
  background: #fff;
  display: none;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #606266;
  border: solid 1px #DCDFE6; }
  .xl-timepicker-content .xl-content-body {
    padding: 10px 0; }
    .xl-timepicker-content .xl-content-body .select-time-content {
      height: 150px;
      display: flex;
      width: 100%;
      padding: 2px;
      font-size: 12px;
      position: relative;
      height: 180px; }
      .xl-timepicker-content .xl-content-body .select-time-content::after {
        content: "";
        display: block;
        position: absolute;
        border-top: solid 1px #ddd;
        width: 118px;
        height: 30px;
        margin-left: 7px;
        top: 63px;
        border-bottom: solid 1px #ddd; }
      .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar {
        flex-grow: 1;
        text-align: center;
        height: 100%;
        overflow: hidden;
        position: relative; }
        .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar ul {
          list-style: none;
          position: absolute;
          width: 100%;
          top: 0;
          transition: top 0.1s; }
          .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar ul::before {
            content: "";
            display: block;
            width: 100%;
            height: 60px; }
          .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar ul::after {
            content: "";
            display: block;
            width: 100%;
            height: 60px; }
          .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar ul li {
            line-height: 30px; }
            .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar ul li.active {
              color: #333;
              font-weight: 700; }
            .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar ul li:hover {
              background: #f0f5fb;
              cursor: pointer; }
      .xl-timepicker-content .xl-content-body .select-time-content::after {
        width: 140px;
        margin-left: 16px; }
      .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar.disabled-select {
        cursor: not-allowed; }
        .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar.disabled-select ul li {
          color: #ccc; }
          .xl-timepicker-content .xl-content-body .select-time-content .time-scrollbar.disabled-select ul li:hover {
            cursor: not-allowed; }
  .xl-timepicker-content .xl-popper-arrow {
    top: -6px;
    width: 0;
    height: 0;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px #fff;
    position: absolute;
    left: 35px; }
    .xl-timepicker-content .xl-popper-arrow.arrow-bottom {
      top: auto;
      border-bottom: solid 6px transparent;
      border-top: solid 6px #fff; }
    .xl-timepicker-content .xl-popper-arrow.arrow-right {
      left: auto;
      right: 35px; }
