<div class="xui-table-wrap" ng-class="{0:'',1:'show-pagination',2:'show-toolbar',3:'show-toolbar-pagination'}[layout]">
    <div class="xui-table-header" ng-if="tableConfig.toolbar.show">
        <span class="table-title">
            {{tableConfig.toolbar.title}}
        </span>
        <div class="btn-group toolbar-btn">
            <button class="btn" type="button" has-permission="tool.permissionCode" ng-click="tool.callback()"
                ng-repeat="tool in tableConfig.toolbar.tools">
                <i class="{{tool.icon}}"></i>{{tool.text}}
            </button>
            <button class="btn" type="button" ng-if="tool.noPermission" ng-click="tool.callback()"
                ng-repeat="tool in tableConfig.toolbar.tools">
                <i class="{{tool.icon}}"></i>{{tool.text}}
            </button>
            <div class="tooltip-container">
                <button class="btn" type="button" ng-if="tableConfig.showTableCol" id="showTableCol1"
                    ng-class="{'tooltip-btn':tableConfig.toolbar.tools.length}">
                    <i class="xui-icon xui-icon-ios-eye-outline"></i>显示选项
                </button>
                <div class="option-dialog" ng-if="tableConfig.toolbar.show" id="showTableCol2">
                    <i class="arrow"></i>
                    <div class="option-top">
                        <span class="select-all" ng-click="popup.selectAll()">
                            <xue-checkbox ng-checked="tableConfig.selectAllColumn"></xue-checkbox>
                            <label>全选</label>
                        </span>
                    </div>
                    <div class="option-content">
                        <ul>
                            <li ng-repeat="colunm in tableConfig.colunms" ng-click="popup.singleSelect(colunm)">
                                <xue-checkbox ng-checked="colunm.show"></xue-checkbox>
                                <label>{{colunm.label}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xui-table-content" ng-class="{'th-border':tableConfig.drag}">
        <table class="xui-table" ng-class="{'xui-table-hover':tableConfig.tableHover}">
            <tr>
                <th ng-if="tableConfig.checkbox" class="table-checkbox">
                    <xue-checkbox ng-checked="tableConfig.selectAll" ng-click="tableCtrl.ev.selectAll()"></xue-checkbox>
                </th>
                <th ng-if="!tableConfig.checkbox && tableConfig.radio" class="table-checkbox">
                </th>
                <th ng-if="tableConfig.showIndex" style="min-width:30px">{{tableConfig.indexTitle}}</th>
                <th ng-repeat="item in tableConfig.colunms" ng-style="item.style" ng-if="item.show"
                    data-ng-bind-html="item.label | trusthtml:tableConfig.defaultNull"
                    ng-click="tableCtrl.ev.order(item)"
                    ng-class="{isActive : item.name == tableConfig.orderColumn, down : tableConfig.desc}">
                </th>
                <th ng-repeat="optConfig in tableConfig.optConfig" ng-style="optConfig.optStyle">{{optConfig.optName}}
                </th>
                <th ng-repeat="optConfig in tableConfig.optConfigExt" ng-style="optConfig.optStyle">
                    {{optConfig.optName}}</th>
            </tr>
            <tr ng-repeat="row in tableConfig.rows | orderBy:tableConfig.orderColumn:tableConfig.desc track by $index"
                ng-class-even="'even'" ng-class-odd="'odd'" ng-click="tableCtrl.ev.rowClick(row,$event)"
                ng-dblclick="tableCtrl.ev.rowDbclick(row,$event)" ng-class="{true:'selected'}[!!row.$checked]">
                <td ng-if="tableConfig.checkbox" class="table-checkbox">
                    <xue-checkbox ng-checked="row.$checked"></xue-checkbox>
                </td>
                <td ng-if="!tableConfig.checkbox && tableConfig.radio" class="table-checkbox">
                    <xue-radio ng-checked="row.$checked"></xue-radio>
                </td>
                <td ng-if="tableConfig.showIndex">{{(tableConfig.page-1)*tableConfig.size+$index+1}}</td>
                <td ng-repeat="colunm in tableConfig.colunms" ng-if="colunm.show"
                    data-ng-bind-html="row[colunm.name] | trusthtml:tableConfig.defaultNull"
                    ng-click="tableCtrl.ev.colClick(row,$event,colunm.click)" title="{{row[colunm.name]}}">
                </td>
                <td ng-repeat="optConfig in tableConfig.optConfig" class="table-checkbox" data-event="notChecked">
                    <a has-permission="item.permissionCode" ng-repeat="item in optConfig.optContent"
                        ng-click="item.callback(row)" class="{{item.className}}" title="{{item.name}}"><span
                            ng-if="item.showText">{{item.name}}</span></a>
                    <a ng-if="!!item.noPermission" ng-repeat="item in optConfig.optContent"
                        ng-click="item.callback(row)" class="{{item.className}}" title="{{item.name}}"><span
                            ng-if="item.showText">{{item.name}}</span></a>
                </td>
                <td ng-repeat="optConfig in tableConfig.optConfigExt" class="table-checkbox" data-event="notChecked">
                    <a ng-class="{false:'ope-hidden'}[!!row[item.id]]" ng-repeat="item in optConfig.optContent"
                        ng-click="!!row[item.id] ? item.callback(row):tableCtrl.ev.noPermission()"
                        class="{{item.className ? item.className : row[item.id]}}" title="{{item.name}}"><span
                            ng-if="item.showText">{{item.name}}</span></a>
                </td>
            </tr>
            <tr ng-if="!tableConfig.rows || tableConfig.rows.length == 0">
                <td colspan="{{tableCtrl.nodataColspan
                    + (tableConfig.optConfig.length || 0) 
                    + (tableConfig.checkbox ? 1 : 0) 
                    + (tableConfig.radio ? 1 : 0) 
                    + (tableConfig.showIndex ? 1 : 0) 
                    + (tableConfig.optConfigExt.length || 0) }}">
                    {{tableConfig.noDataText}}</td>
            </tr>
        </table>
    </div>
    <div class="xui-table-footer" ng-if="tableConfig.pagination">
        <div class="total-size" ng-if="tableConfig.pagesize">
            <div class="total">总共<span>{{tableConfig.total}}</span>条记录</div>
            <div class="size">每页显示
                <select ng-model="tableConfig.size" ng-options="pageSize for pageSize in tableConfig.pageList"></select>
                条
            </div>
        </div>
        <xue-pagination class="xui-pagination-mini" total-items="tableConfig.total" max-size="mv.maxSize"
            ng-model="tableConfig.page" items-per-page="tableConfig.size" boundary-links="true">
        </xue-pagination>
    </div>
</div>