@charset "UTF-8";
* {
  padding: 0;
  margin: 0 auto;
  scrollbar-arrow-color: #e9ecf3;
  /**/
  /*三角箭头的颜色*/
  scrollbar-3dlight-color: #e9ecf3;
  /**/
  /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #e9ecf3;
  /**/
  /*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #e9ecf3;
  /**/
  /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #e9ecf3;
  /**/
  /*立体滚动条强阴影的颜色*/
  scrollbar-track-color: #e9ecf3;
  /**/
  /*立体滚动条背景颜色*/
  scrollbar-base-color: #c4d8e8;
  /**/
  /*滚动条的基本颜色*/
  scrollbar-face-color: #c4d8e8;
  /**/
  /*立体滚动条的颜色*/
}

::-webkit-scrollbar {
  /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  /*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
  background: #e9ecf3;
}

::-webkit-scrollbar-track {
  /*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
  background: #e9ecf3;
}

::-webkit-scrollbar-track-piece {
  /*内层轨道，滚动条中间部分（位置4）*/
  background: #e9ecf3;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面可以拖动的那部分（位置5）*/
  background: #c4d8e8;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  /*边角（位置6）*/
  background: #e9ecf3;
}

::-webkit-scrollbar-resizer {
  /*定义右下角拖动块的样式（位置7）*/
  background: #e9ecf3;
}

html, body {
  width: 100%;
  height: 100%;
}

.demo-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 70px 0 35px 0;
}

.demo-wrap .header-container {
  height: 70px;
  background: #c4d8e8;
  position: absolute;
  top: 0;
  width: 100%;
}

.demo-wrap .header-container .header-wrap {
  width: 1366px;
  height: 100%;
}

.demo-wrap .header-container .header-wrap h1 {
  height: 100%;
  line-height: 70px;
  float: left;
}

.demo-wrap .header-container .header-wrap h1 img {
  margin-top: 20px;
  vertical-align: top;
  margin-left: 10px;
}

.demo-wrap .header-container .header-wrap h1 b {
  color: #2a859f;
}

.demo-wrap .header-container .header-wrap ul {
  float: right;
  list-style: none;
}

.demo-wrap .header-container .header-wrap ul li {
  padding: 0 15px;
  line-height: 70px;
  float: left;
  cursor: pointer;
}

.demo-wrap .header-container .header-wrap ul li:hover {
  font-weight: 700;
}

.demo-wrap .main-container {
  height: 100%;
  background: #e9ecf3;
  position: relative;
  width: 100%;
  overflow: auto;
  font-family: Microsoft Yahei;
}

.demo-wrap .main-container .main-wrap {
  width: 1366px;
  height: 100%;
  position: relative;
  padding-left: 250px;
  box-sizing: border-box;
}

.demo-wrap .main-container .main-wrap .main-menu-container {
  width: 250px;
  position: absolute;
  left: 0;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.demo-wrap .main-container .main-wrap .main-menu-container > ul {
  list-style: none;
}

.demo-wrap .main-container .main-wrap .main-menu-container > ul > li {
  line-height: 30px;
}

.demo-wrap .main-container .main-wrap .main-menu-container > ul > li > a {
  cursor: pointer;
  color: #333;
  font-weight: 700;
}

.demo-wrap .main-container .main-wrap .main-menu-container > ul > li .child-menu {
  padding-left: 5px;
  line-height: 30px;
  color: #666;
}

.demo-wrap .main-container .main-wrap .main-menu-container > ul > li a {
  text-decoration: none;
  color: #666;
}

.demo-wrap .main-container .main-wrap .main-content-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.demo-wrap .footer-container {
  position: absolute;
  height: 35px;
  background: #2699b9;
  width: 100%;
  bottom: 0;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}
