<div class="xui-modal-dialog xui-dialog-wrap {{size ? 'modal-' + size : ''}}">
    <div class="xui-dialog-header" ng-if="!!dialogParam.header" xue-drag>
        <span class="header-title">{{dialogParam.title}}</span>
        <span class="header-close" ng-if="!!dialogParam.close" ng-click="ext.close()">
            <i class="xui-icon xui-icon-md-close"></i>
        </span>
    </div>
    <div class="xui-dialog-body" xue-modal-transclude>

    </div>
    <div class="xui-dialog-footer" ng-if="!!dialogParam.footer">
        <button ng-if="!!dialogParam.cancel" class="xui-btn"
            ng-click="ext.cancel()">{{dialogParam.cancelValue}}</button>
        <button ng-if="!!dialogParam.confirm" class="xui-btn xui-btn-primary"
            ng-click="ext.confirm()">{{dialogParam.confirmValue}}</button>
    </div>
</div>