<div class="xui-scroller-container" ng-style="scrollConfig.backgroundStyle">
    <div class="scroller-content">
        <div class="dynamic-container" ng-style="{'top':-scrollConfig.goIndex*scrollConfig.itemHeight+'px' || 0}">
            <ul ng-repeat="item in scrollConfig.data track by $index" ng-style="scrollConfig.goIndex == $index ? scrollConfig.highlightStyle : {}">
                <li ng-if="scrollConfig.dataType == 1" ng-style="scrollConfig.itemStyle">
                    {{item}}
                </li>
                <li ng-if="scrollConfig.dataType == 2" ng-repeat="list in item" ng-style="scrollConfig.itemStyle[$index]">
                    {{list}}
                </li>
                <li ng-if="scrollConfig.dataType == 3" ng-style="scrollConfig.itemStyle" ng-class="item.class">
                    {{item.text}}
                </li>
            </ul>
        </div>
    </div>
</div>