 <div class="xui-menu-wrap2"
 ng-class="{true:'support-search'}[menuConfig.search]"
 ng-class="{'vertical':'xui-menu-vertical','horizontal':'xui-menu-horizontal'}[menuConfig.mode]">
    <div class="menu-search" ng-if="menuConfig.search && menuConfig.mode=='vertical'">
        <i class="menu-search-icon xui-icon xui-icon-md-search"></i>
        <input type="text" class="menu-ipt" ng-model="vm.searchValue" ng-blur="vm.hideSearchBox()">
        <div class="menu-list" ng-show="!!vm.searchValue"
            ng-mouseover="vm.onSearchListDiv = true"
            ng-mouseleave="vm.onSearchListDiv = false">
            <ul>
                <li ng-click="vm.select(item)" ng-repeat="item in vm.menuList | filter : {menuName:vm.searchValue}">{{item.menuName}}</li>
            </ul>
        </div>
    </div>
     <ul class="menu-item-wrap clearfix" >
         <li class="menu-item" ng-repeat="item in menuConfig.data" 
         ng-class="{'is-opened':item.open}"
         ng-mouseenter="mouseenter(item)"
         ng-mouseleave="mouseleave(item)"
         ng-include="'menuTempVertical'">
         </li>
     </ul>
     <script id="menuTempVertical" type="text/ng-template">
         <div  class="menu-title" ng-click="clickMenu(item)" 
        ng-class="{true:'active'}[item[menuConfig.menuId] == menuConfig.selectId]">
            <div class="title-icon" ng-if="item.iconName">
                <i class="xui-icon xui-icon-ios-arrow-forward"></i>
            </div>
            <i class="icon-dot" ng-if="!item.subMenus && menuConfig.mode=='vertical'"></i>
             <span>{{item.menuName}}</span>  
             <div class="title-arrow-right" ng-if="!!item.subMenus">
                <i ng-show="!item.open" class="xui-icon xui-icon-ios-arrow-forward"></i>
                <i ng-show="!!item.open" class="xui-icon xui-icon-ios-arrow-down"></i>
            </div>
        </div>
         <ul class="menu-sub-item"  ng-if="menuConfig.mode=='vertical'" ng-show="item.open">
             <li class="menu-item" ng-repeat="item in item.subMenus"
             ng-include="'menuTempVertical'" ></li> 
         </ul>
         <ul class="xui-menu-popup clearfix"  ng-if="menuConfig.mode=='horizontal' && item.subMenus" >
            <li class="menu-item" ng-repeat="item in item.subMenus"
            ng-class="{'is-opened':item.open}"
            ng-mouseenter="item.open = true"
            ng-mouseleave="item.open = false"
            ng-include="'menuTempVertical'" ></li> 
        </ul>
    </script>
 </div>