<div>
    <ul class="xui-menu-wrap1 clearfix"
        ng-class="{'vertical':'xui-menu-vertical','horizontal':'xui-menu-horizontal'}[menuConfig.mode]">
        <li class="menu-item" ng-if="menuConfig.mode=='vertical'" ng-repeat="item in menuConfig.data"
            ng-include="'menuTempVertical'">
        </li>
        <li class="menu-item xui-menu-popup-content" ng-include="'popupTemp'" ng-if="menuConfig.mode=='horizontal'"
            ng-repeat="item in menuConfig.data">
        </li>
    </ul>

    <script id="menuTempVertical" type="text/ng-template">
        <div  class="menu-title" ng-click="clickMenu(item)" ng-class="{true:'active'}[item[menuConfig.menuId] == menuConfig.selectId]">
            <div class="title-icon" ng-if="item.iconName">
                <i class="xui-icon xui-icon-ios-arrow-forward"></i>
            </div>
             <span>{{item.menuName}}</span>  
             <div class="title-arrow-right" ng-if="!!item.subMenus">
                <i ng-if="!item.open" class="xui-icon xui-icon-ios-arrow-forward"></i>
                <i ng-if="!!item.open" class="xui-icon xui-icon-ios-arrow-down"></i>
            </div>
        </div>
         <ul class="menu-sub-item xui-menu-inline"  ng-if="item.open">
             <li ng-repeat="item in item.subMenus"
             ng-include="'menuTempVertical'"></li> 
         </ul>
    </script>
    <script id="popupTemp" type="text/ng-template">
        <div  class="menu-title" ng-click="clickMenu(item)">
                <span>{{item.menuName}}</span> 
                <div class="title-arrow-right" ng-if="!!item.subMenus">
                    <i ng-if="!item.open" class="xui-icon xui-icon-ios-arrow-forward"></i>
                    <i ng-if="!!item.open" class="xui-icon xui-icon-ios-arrow-down"></i>
                </div>
             </div>
            <ul class="xui-menu-popup" ng-if="item.subMenus && item.open">
                <li  ng-include="'menuTempVertical'"  ng-repeat="item in item.subMenus"></li>
            </ul>
    </script>
</div>