<div class="xui-menu-wrap" ng-class="{true:'support-search'}[menuConfig.search]">
    <div class="menu-search" ng-if="menuConfig.search">
        <i class="menu-search-icon xui-icon xui-icon-md-search"></i>
        <input type="text" class="menu-ipt" ng-model="vm.searchValue" ng-blur="vm.hideSearchBox()">
        <div class="menu-list" ng-show="!!vm.searchValue"
            ng-mouseover="vm.onSearchListDiv = true"
            ng-mouseleave="vm.onSearchListDiv = false">
            <ul>
                <li ng-click="vm.select(item)" ng-repeat="item in vm.menuList | filter : {menuName:vm.searchValue}">{{item[menuConfig.oneDimenName]}}</li>
            </ul>
        </div>
    </div>
    <div class="menu-item-wrap">
        <div class="menu-item" ng-repeat="item in menuConfig.data">
            <div class="item-title" ng-click="clickRouter(item)" ng-class="{true:'active'}[item[menuConfig.routerId] == menuConfig.selectId]">
                <div class="title-icon" ng-if="menuConfig.showOneDimenIcon">
                    <img alt="" ng-if="!!item[menuConfig.oneDimenIcon]" 
                        ng-src="{{menuConfig.imagePrefix+item[menuConfig.oneDimenIcon]+menuConfig.imageSuffix}}">
                    <i ng-if="!item[menuConfig.oneDimenIcon]" class="fa fa-star"></i>
                </div>
                <div class="title-content" title="{{item[menuConfig.oneDimenName]}}">
                    {{item[menuConfig.oneDimenName]}}
                </div>
                <div class="title-arrow" ng-if="!!item[menuConfig.childrenName]">
                    <i ng-if="!item.open" class="xui-icon xui-icon-ios-arrow-forward"></i>
                    <i ng-if="!!item.open" class="xui-icon xui-icon-ios-arrow-down"></i>
                </div>
            </div>
            <div class="item-content" ng-show="!!item.open && !!item[menuConfig.childrenName]">
                <ul>
                    <li ng-repeat="children in item[menuConfig.childrenName]" title="{{children[menuConfig.twoDimenName]}}" 
                    ng-click="clickRouter(children)" ng-class="{true:'active'}[children[menuConfig.routerId] == menuConfig.selectId]">
                        <span>{{children[menuConfig.twoDimenName]}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>