<li class="menu-item" 
ng-class="{'is-opened':opened,'is-active':active}"
ng-click="slectSubMenu($event)" ng-mouseenter="mouseenter()" 
ng-mouseleave="mouseleave()" ng-focus="focus()">
    <div class="menu-title">
        <span>{{label}}</span>
        <div class="title-arrow-right">
            <i ng-if="!opened" class="xui-icon xui-icon-ios-arrow-forward"></i>
            <i ng-if="opened" class="xui-icon xui-icon-ios-arrow-down"></i>
        </div>
    </div>
    <ul class="xui-menu-popup clearfix"  ng-if="mode=='horizontal'" ng-transclude>
    </ul>
    <ul class="menu-sub-item xui-menu-inline" ng-if="mode=='vertical'" ng-transclude >
    </ul>
</li>