<!DOCTYPE html>
<html ng-app="xue.demo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="assets/favicon.ico" />
    <title>angularjs-xue</title>
    <link rel="author" href="<%= pkg.author%>">
    <link rel="stylesheet" href="assets/demo.css"/>
    <script src="assets/angular.min.js"></script>
    <script src="assets/angularjs-xue-full-<%= pkg.version%>.min.js"></script>
    <script src="assets/app.js"></script>
    
</head>
<body class="demo-wrap" ng-controller="xueDemoCtrl">
    <div class="header-container">
        <div class="header-wrap">
            <h1>
                <img src="./assets/favicon.ico" alt="">
                <b>angularjs-xue</b>
            </h1>
            <ul>
                <li>入门指南</li>
                <li>文档</li>
                <li>{{version}}</li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="main-wrap">
            <div class="main-menu-container">

            </div>
            <div class="main-content-container">

            </div>
        </div>
    </div>
    <div class="footer-container">
        Copyright © 2020 angularjs-xue
    </div>
</body>
</html>