<!DOCTYPE html>
<html ng-app="ui.xue.demo">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="assets/favicon.ico" />
    <title>angularjs-xue</title>
    <link rel="author" href="<%= pkg.author%>">

    <script src="assets/angular.min.js"></script>
    <script src="assets/angular-ui-router.min.js"></script>
    <script src="assets/angularjs-xue-full-<%= pkg.version %><%= debug?'':'.min' %>.js"></script>
    <script src="modules/index.js"></script>
    <link rel="stylesheet" href="assets/angularjs-xue-ui-<%= pkg.version %><%= debug?'':'.min' %>.css">
    <link rel="stylesheet" href="assets/demo.css" />
    <link rel="stylesheet" href="assets/ui.css" />
</head>

<body class="demo-wrap" id="demoWrap" ng-controller="xueDemoCtrl as demoCtrl">
    <div class="header-container">
        <div class="header-wrap">
            <h1>
                <img src="./assets/favicon.ico" alt="">
                <b>angularjs-xue</b>
            </h1>
            <ul>
                <li ng-repeat="item in demoCtrl.menuData">
                    <a ui-sref="{{item.id}}" ui-sref-active="active">{{item.name}}</a>
                </li>
                <li>
                    <a href="">V<%= version %></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="main-wrap" ui-view>

        </div>
        <% demoModules.forEach(function(module) { %>
        <script><%= module.docs.js %></script>
        <% }); %>
    </div>
    <div class="footer-container">
        Copyright © 2020 angularjs-xue
    </div>
</body>

</html>