<!DOCTYPE html>
<html ng-app="xue.demo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="assets/favicon.ico" />
    <title>angularjs-xue</title>
    <link rel="author" href="<%= pkg.author%>">
    <link rel="stylesheet" href="assets/demo.css"/>
    <script src="assets/angular.min.js"></script>
    <script src="assets/angularjs-xue-full-<%= pkg.version%>.min.js"></script>
    <script src="assets/plunker.js"></script>
    <script src="assets/app.js"></script>
    
</head>
<body class="demo-wrap" ng-controller="xueDemoCtrl">
    <div class="header-container">
        <div class="header-wrap">
            <h1>
                <img src="./assets/favicon.ico" alt="">
                <b>angularjs-xue</b>
            </h1>
            <ul>
                <li>入门指南</li>
                <li>组件文档</li>
                <li><%= version %></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="main-wrap">
            <div class="main-menu-container">
                <ul class="node-menu">
                    <li>
                        <a href="#getStart">入门指南</a>
                    </li>
                </ul>
                <ul class="node-menu">
                    <li>
                        <a>组件文档</a>
                        <% demoModules.forEach(function(module) {  %><div class="child-menu"><a href="#<%= module.name %>" ><%= module.displayName %></a></div><% }); %>
                    </li>
                </ul>
            </div>
            <div class="main-content-container">
                <section class="module-wrap" id="getStart">
                    <div class="page-header">
                        <h1>
                            入门指南
                        </h1>
                    </div>
                    <div class="">

                    </div>
                </section>
                <% demoModules.forEach(function(module) { %>
                    <section id="<%= module.name %>">
                        <div class="page-header">
                          <h1><%= module.displayName %><small>
                              (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/<%= module.name %>">ui.bootstrap.<%= module.name %></a>)
                          </small></h1>
                        </div>
                        <div class="page-content">
                            <div class="content-html">
                                <%= module.docs.html %>
                            </div>
                            <div class="content-md">
                                <%= module.docs.md %>
                            </div>
                        </div>
                        <hr>
                        <div class="page-content-code">
                            <div class="col-md-12" ng-controller="PlunkerCtrl">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-info plunk-btn" ng-click="edit('<%= ngversion%>', '<%= pkg.version%>', '<%= module.name %>')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>
                                </div>
                                <uib-tabset active="activeTab">
                                    <uib-tab index="0" heading="Markup">
                                        <div plunker-content="markup">
                                            <pre ng-non-bindable><code data-language="html"><%- module.docs.html %></code></pre>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="JavaScript">
                                        <div plunker-content="javascript">
                                            <pre ng-non-bindable><code data-language="javascript"><%- module.docs.js %></code></pre>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </section>
                    <script><%= module.docs.js %></script>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="footer-container">
        Copyright © 2020 angularjs-xue
    </div>
</body>
</html>