.heading {
  font-size: 20px;
  line-height: 40px;
  margin: 5px 0; }

.subheading {
  font-size: 16px;
  line-height: 35px; }

.ui-demo-color .primary-wrap {
  width: 440px;
  height: 120px;
  margin: 0; }
  .ui-demo-color .primary-wrap .primary-color {
    height: 80px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    color: #fff;
    text-align: center;
    line-height: 80px; }
  .ui-demo-color .primary-wrap .primary-list {
    height: 40px;
    width: 100%; }
    .ui-demo-color .primary-wrap .primary-list ul {
      list-style: none; }
      .ui-demo-color .primary-wrap .primary-list ul::after {
        content: "";
        display: block;
        clear: both; }
      .ui-demo-color .primary-wrap .primary-list ul li {
        float: left;
        width: 40px;
        height: 40px; }
        .ui-demo-color .primary-wrap .primary-list ul li:first-child {
          border-radius: 0 0 0 3px; }
        .ui-demo-color .primary-wrap .primary-list ul li:last-child {
          border-radius: 0 0 3px 0; }

.ui-demo-color .auxiliary-wrap ul {
  list-style: none; }
  .ui-demo-color .auxiliary-wrap ul::after {
    content: "";
    display: block;
    clear: both; }
  .ui-demo-color .auxiliary-wrap ul li {
    float: left;
    width: 120px;
    height: 80px;
    margin-right: 20px; }
    .ui-demo-color .auxiliary-wrap ul li .color-content {
      height: 50px;
      color: #fff;
      text-align: center;
      line-height: 50px;
      border-radius: 3px 3px 0 0; }
    .ui-demo-color .auxiliary-wrap ul li .color-liner::after {
      content: "";
      display: block;
      clear: both; }
    .ui-demo-color .auxiliary-wrap ul li .color-liner span {
      display: block;
      width: 60px;
      float: left;
      height: 30px; }
      .ui-demo-color .auxiliary-wrap ul li .color-liner span:first-child {
        border-radius: 0 0 0 3px; }
      .ui-demo-color .auxiliary-wrap ul li .color-liner span:last-child {
        border-radius: 0 0 3px 0; }

.ui-demo-color .neutral-wrap {
  display: flex; }
  .ui-demo-color .neutral-wrap .neutral-list {
    width: 200px;
    margin: 0;
    margin-right: 20px; }
    .ui-demo-color .neutral-wrap .neutral-list ul {
      color: #fff; }
      .ui-demo-color .neutral-wrap .neutral-list ul li {
        height: 50px;
        width: 200px;
        border-radius: 3px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 10px; }

.ui-demo-btn .btn-list {
  margin-bottom: 10px; }

.ui-demo-ipt .ipt-list {
  margin-bottom: 10px; }

.ui-demo-modal .modal-list {
  margin-bottom: 10px; }
